// .wei-main-content-body {
//   padding-top: 0;
// }
.wei-bg-black {
  background: url('http://localhost:3000/images/bg_noise.png')
    var(--honki-black);
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.wei-bg-black::before {
  content: '';
  display: block;
  width: 72px;
  height: 45px;
  background-image: url('http://localhost:3000/images/wei/cricket.svg');
  background-repeat: no-repeat;
  position: absolute;
  transform: scaleX(-1);
  top: calc(40vh - 73px);
  left: calc(50% - 180px);
}
.wei-bg-black:hover.wei-bg-black::before {
  animation: jump 2s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes jump {
  0% {
    transform: scale(-1, 1) translateY(0);
  }
  10% {
    transform: scale(-1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(-0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(-1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(-1, 1) translateY(-5px);
  }
  64% {
    transform: scale(-1, 1) translateY(0);
  }
  100% {
    transform: scale(-1, 1) translateY(0);
  }
}
.wei-searcharea {
  height: 50%;
}
.wei-search-box {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.wei-bookarea {
  width: 100%;
  margin-top: auto;
  padding: 0;
}
.wei-books {
  position: relative;
  height: 100%;
}
.wei-book {
  width: 8%;
  position: absolute;
  bottom: 0;
  padding-bottom: 4px;
}
.wei-book:hover img {
  transform: translateY(-80px) rotate(-20deg);
  z-index: 1;
}
.wei-book:hover {
  z-index: 1;
}

.wei-book:last-child:hover img {
  transform: translate(-80px, -80px) rotate(10deg);
  z-index: 1;
}
@media (max-width: 992px) {
  .wei-book {
    width: 100px;
    /* position: relative; */
  }
}

.wei-book img {
  transition: 0.5s cubic-bezier(0.82, 0.25, 0.83, 0.67);
}
.wei-book:nth-child(2) {
  left: 6.25%;
}
.wei-book:nth-child(3) {
  left: 12.5%;
}
.wei-book:nth-child(4) {
  left: 18.75%;
}
.wei-book:nth-child(5) {
  left: 25%;
}
.wei-book:nth-child(6) {
  left: 31.25%;
}
.wei-book:nth-child(7) {
  left: 37.5%;
}
.wei-book:nth-child(8) {
  left: 43.75%;
}
.wei-book:nth-child(9) {
  left: 50%;
}
.wei-book:nth-child(10) {
  left: 56.25%;
}
.wei-book:nth-child(11) {
  left: 62.5%;
}
.wei-book:nth-child(12) {
  left: 68.75%;
}
.wei-book:nth-child(13) {
  left: 75%;
}
.wei-book:nth-child(14) {
  left: 81.25%;
}
.wei-book:nth-child(15) {
  left: 87.5%;
}
.wei-book:nth-child(16) {
  left: 93.75%;
}
.wei-bookshelf {
  z-index: 2;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: url('http://localhost:3000/images/bg_noise.png') #564030;
}

/* breadcrumb */
.wei-breadcrumb-section {
  margin-left: 57px;
  margin-right: 57px;
}
@media (max-width: 790px) {
  .wei-breadcrumb-section {
    margin-left: 0;
    margin-right: 0;
  }
}
ol.wei-breadcrumb {
  margin-bottom: 0;
}
.wei-button-group {
  text-align: right;
}
@media (max-width: 768px) {
  .wei-button-group {
    text-align: center;
    margin-top: 1rem;
  }
}
@media (max-width: 360px) {
  .wei-button-group .btn-rounded-dark {
    height: 30px;
    font-size: 12px;
    padding: 0 20px;
    line-height: 12px;
  }
}
/* card */
.wei-card {
  margin-top: 5rem;
}
@media (min-width: 1200px) {
  .wei-card {
    padding: 0 40px;
  }
}

.wei-card-pic {
  /* text-align: center; */
  background: url('http://localhost:3000/images/bg_noise.png') white;
  border-radius: 15px;
  padding: 40px 20px;
  /* height: 240px; */
  width: 100%;
  transition: all 0.5s;
}
.wei-card:hover .wei-card-icon {
  transform: translateX(-2rem);
  opacity: 0;
}
.wei-card:hover .wei-card-pic {
  background: url('http://localhost:3000/images/bg_noise.png');
}
.wei-card:hover .wei-card-pic img {
  transform: scale(1.2);
}
.wei-card:hover .wei-heart-bg {
  right: 3%;
  opacity: 1;
}

.wei-book-pic img {
  height: 168px;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  transition: all 0.5s;
}
.wei-card-icon {
  z-index: 1;
  width: 48px;
  height: 48px;
  position: absolute;
  top: -24px;
  left: 24px;
  border-radius: 50%;
  background-color: var(--honki-red);
  color: white;
  line-height: 48px;
  text-align: center;
  font-family: abel, sans-serif;
  font-size: 13px;
  transition: all 0.5s;
}
@media (min-width: 1200px) {
  .wei-card-icon {
    left: 64px;
  }
}
.wei-heart-bg {
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -3%;
  width: 12%;
  height: 40%;
  border-radius: 1rem 0 0 1rem;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
.wei-heart {
  font-size: 1rem;
  color: grey;
  cursor: pointer;
}
.wei-book-text {
  margin-top: 20px;
}
.wei-book-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
  font-size: 14px;
}
.wei-book-author {
  font-size: 14px;
  color: #afafaf;
}
.wei-book-price {
  font-size: 18px;
  text-align: right;
  font-weight: bold;
}
.wei-categories {
  margin-top: 5rem;
}
.wei-categories-title {
  margin-bottom: 3rem;
}

.wei-category {
  list-style-type: none;
  margin-top: 2rem;
  font-size: 1rem;
}
.wei-category.active {
  color: var(--honki-red);
  font-weight: bold;
}
.wei-category.active::before {
  color: var(--honki-red);
  content: '•';
  position: absolute;
  left: 24px;
}

/* pagination */
.wei-pagination {
  margin-bottom: 192px;
  margin-top: 110px;
}

/* ------ product detail ------ */
.wei-bg-white {
  background: url('http://localhost:3000/images/bg_noise.png') white;
  padding: 72px;
}
@media (max-width: 400px) {
  .wei-bg-white {
    padding: 24px;
  }
}
.wei-detail-pic {
  width: 240px;
  -webkit-filter: drop-shadow(30px 10px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(30px 10px 10px rgba(0, 0, 0, 0.2));
}
.wei-line {
  background: var(--honki-yellow);
  width: 70%;
}
.wei-star {
  color: #ffc107;
}
.wei-star:last-child {
  color: grey;
}

.wei-detail-right h6 {
  font-size: 19px;
  font-weight: normal;
}
.wei-detail-final-price {
  font-weight: bold;
}
.wei-detail-badge {
  text-align: center;
  border-radius: 14px;
  line-height: 28px;
  width: 66px;
  height: 28px;
  font-size: 14px;
  color: white;
  background-color: var(--honki-theme);
}

@media (max-width: 576px) {
  .wei-add-to-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    z-index: 3;
    width: 100%;
    transition: 0.5s;
  }
}

.wei-detail-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid var(--honki-black);
  transition: 0.5s;
}
.wei-detail-heart-icon,
.wei-detail-share-icon {
  line-height: 60px;
}
.wei-detail-icon:hover {
  background-color: white;
}
.wei-detail-icons {
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 1;
}
@media (max-width: 992px) {
  .wei-detail-icons {
    flex-direction: row !important;
    right: 0%;
    top: 3%;
  }
  .wei-detail-icon {
    margin-right: 0.5rem;
  }
}
@media (max-width: 576px) {
  .wei-detail-icon {
    height: 48px;
    width: 48px;
  }
  .wei-detail-icons {
    top: 4%;
  }
  .wei-detail-heart-icon,
  .wei-detail-share-icon {
    line-height: 48px;
  }
}

.wei-detail-heart {
  color: #fc7b7b;
}
.wei-detail-books {
  margin-bottom: 192px;
}
@media (min-width: 1200px) {
  .wei-detail-books .wei-card {
    padding: 0 15px;
  }
  .wei-detail-books .wei-card-icon {
    left: 24px;
  }
}
.wei-detail-books-subtitle {
  padding-left: 96px;
  margin-top: 4rem;
  font-weight: normal;
}
