.chia_activity {
	height: 800px;
	// background: url('../image/bg-paper.svg') repeat, #fff;
	position: relative;
	background-color: #fff;
	// overflow-y: hidden;
}
/*1920px need to amend*/

.chia_accircle {
	position: absolute;
	left: 30%;
	top: -5%;
}

.chia_accirclebig {
	position: absolute;
	right: -5%;
	top: 60%;
}

.chia_eventheader {
	font-size: var(--h6--);
	font-weight: 700;
	margin: 36px auto;
}
.chia_eventbox {
	max-width: 1140px;
}
.chia_eventitem {
	width: 290px;
	height: 370px;
	border: solid var(--word-color) 1px;
	margin: 130px 40px;
	border-radius: 15px;
	overflow: hidden;
	background-color: var(--word-color-sub);
	font-size: var(--content--);
	// animation: circlejumping;
	// animation-duration: 3s;
	// animation-delay: 1.5s;
}

// @keyframes bunnyactivity {
// 	25% {
// 		transform: translateY(10px);
// 	}
// 	50% {
// 		transform: translateY(-10px);
// 	}
// 	75% {
// 		transform: translateY(10px);
// 	}
// 	100% {
// 		transform: translateY(-10px);
// 	}
// }
.chia_eventimg {
	width: 290px;
	height: 190px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;
}
.chia_eventimg img {
	width: 100%;
	height: 100%;
}
.chia_eventdate {
	width: 208px;
	height: 44px;
	background-color: var(--word-color);
	color: var(--word-color-sub);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}
.chia_eventtype {
	width: 82px;
	height: 44px;
	background-color: var(--main-color);
	color: var(--word-color-sub);
	display: flex;
	justify-content: center;
	align-items: center;
}
.chia_eventcontent {
	/* margin-left: 5%; */
	width: 250px;
	height: 120px;
	background-color: var(--word-color-sub);
	word-wrap: break-word;
	position: relative;
	padding: 20px;
}
.chia_e-content {
	position: absolute;
	left: 15%;
	font-size: var(--content--);
}
.chia_e-content p {
	margin-bottom: .5rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-moz-webkit: line clamp 3;
	-ms-webkit: line clamp 3;
	-o-webkit: line clamp 3;
	-webkit-box-orient: vertical;
}
.chia_e-link a {
	font-size: 12px;
	color: var(--word-color);
	font-weight: 700;
}
.chia_e-link {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
	color: var(--word-color);
	font-weight: 700;
}

.chia_e-link a :hover {
	color: #fff;
}
