// .chia_toptenbook {
// 	/* margin-left: 0px;
// 	margin-right: 0px; */
// 	// margin-top: 8px;
// 	/* padding-bottom: 10px; */
// 	/* margin-bottom: 8px; */
// }
// .stt {
// 	margin-top: 0px;
// }

.chia_toptentitle {
	height: 70px;
}
// .chia_toptentitle::after {
// 	// content: url('./image/circledot/halfcircle.svg');
// 	content: url('../image/circledot/halfcircle.svg');
// 	position: absolute;
// 	top: 0;
// 	left: 52%;
// }
.chia_circledot {
	position: absolute;
	top: 0;
	left: 52%;
	animation-name: jumpbunny;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
// .circledot:hover {
// 	animation-play-state: paused;
// }

@keyframes jumpbunny {
	25% {
		transform: rotateY(-15deg);
	}
	50% {
		transform: rotateY(30deg);
	}
	75% {
		transform: rotateY(-15deg);
	}
	100% {
		transform: rotateY(30deg);
	}
}

.chia_toptenbook {
	max-width: 100%;
	// height: 810px;
	position: relative;
	background: url('../image/bg-paper.svg') repeat, #fff;
}
.chia_sixtoten {
	margin-bottom: 1rem;
}
.chia_toptenheader {
	text-align: center;
	margin: 36px auto;
}
.chia_toptenheader p {
	font-size: var(--h6--);
	font-weight: 700;
}
.chia_toptenheader p span {
	color: var(--main-color);
}

.chiaonetofive {
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.chia_rankingbook {
	width: 200px;
	height: 280px;
	margin: 0 16px;
	/* border: solid 1px var(--word-color); */
}
.chia_rankingbook {
	width: 200px;
	height: 295px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 42px;
	/* border: solid 1px var(--word-color); */
	// transition: 1.5s;
	// animation-name: skewbunny;
	// animation-duration: 2s;
	// animation-iteration-count: infinite;
}

@keyframes skewbunny {
	25% {
		transform: translateY(-20px);
	}
	50% {
		transform: skew(2deg);
	}
	75% {
		transform: skew(-2deg);
	}
	100% {
		transform: skew(2deg);
	}
}
.chia_rankingbooktop {
	width: 200px;
	height: 200px;
}
.chia_rankingbooktop.chiagrey {
	width: 200px;
	height: 200px;
	background-color: var(--top10-bgc-op);
}
.chia_rankingbooktop.chiayellow {
	width: 200px;
	height: 200px;
	background-color: var(--sub-color-op);
}
.chia_bookcover {
	height: 139px;
	/* overflow: hidden; */
	display: flex;
	position: relative;
}
.chia_bookcover img {
	margin: 0 auto;
}
.chia_rankingbookword {
	width: 200px;
}
.chia_ranking {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: var(--main-color);
	color: var(--sub-color);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--content--);
	font-weight: 700;
	position: absolute;
	left: 15%;
	top: -15%;
}
.chia_rankingtitle {
	font-size: var(--content--);
	padding: 16px;
	text-align: justify;
	font-weight: 700;
	color: var(--word-color);
	margin-bottom: 0;
}
.chia_rankingprice {
	font-size: var(--scontent--);
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	text-align: justify;
	font-weight: 700;
	color: var(--word-color);
}
.chia_rankingprice span {
	color: var(--main-color);
}
