:root {
	--main-color: #e83015;
	--sub-color: #fdf3db;
	--sub-color-op: rgba(253, 243, 219, .8);
	--word-color: #1c1b1b;
	--word-color-sub: #ffffff;
	--startle-color: #7ba23e;
	--startle-hover: #a8dd57;
	--top10-bgc: #ececec;
	--top10-bgc-op: rgba(236, 236, 236, .8);
	--footer-color: #f3eee7;
	--h2--: 58px;
	--h3--: 47px;
	--h6--: 19px;
	--h5--: 23px;
	--content--: 16px;
	--scontent--: 14px;
	--rainingcolor--: #284177;
}
.chia_reviewcontent {
	/* height: 800px; */
	background: url('../image/bg-paper.svg') repeat, #fff;
	position: relative;
}
.chia_reviewcontent::before {
	content: url('../image/circledot/hugecircle.svg');
	position: absolute;
	right: -5%;
	top: 3%;
}
// .bread {
// 	/* border: solid 1px var(--word-color); */
// 	height: 100px;
// 	position: relative;
// }
// .breadbox {
// 	position: absolute;
// 	bottom: 0;
// 	left: 72px;
// 	font-size: 19px;
// }
// .breadbox a {
// 	color: var(--word-color);
// }
// .nest {
// 	margin-left: 21px;
// 	margin-right: 21px;
// }

/* content body */
.chia_contentbox_c {
	margin-top: 48px;
}
.chia_contentborder-r {
	width: 816px;
	height: 600px;
	border: var(--word-color) 1px solid;
	position: relative;
}
.chia_contentborder-l {
	width: 816px;
	height: 600px;
	border: var(--word-color) 1px solid;
	position: absolute;
	top: -15px;
	left: 15px;
}
.chia_contentheader {
	width: 548px;
	height: 85px;
	// margin-top: 46px;
}
.chia_r-content {
	width: 100%;
}
.chia_cd1 {
	width: 240px;
	height: 36px;
	border: solid 1px var(--word-color);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
}
.chia_solarselect {
	width: 240px;
	height: 36px;
	font-size: var(--content--);
}
.chia_membercol {
	border-bottom: 1px solid var(--word-color);
	width: 100%;
	padding-bottom: 12px;
	padding-top: 6px;
}
.chia_m-title {
	width: 70px;
	padding-bottom: 12px;
	padding-top: 12px;
	text-align: end;
	font-size: var(--content--);
	font-weight: 700;
}
.chia_m-content {
	padding-left: 12px;
	font-size: var(--content--);
}

.chia_contentbody {
	width: 545px;
	height: 360px;
	border: solid 1px var(--word-color);
	position: absolute;
	overflow-y: scroll;
	top: 33.5%;
	left: 17%;
	font-size: var(--content--);
}

.chia_contentbody p {
	width: 100%;
	line-height: 1.5;
	text-align: justify;
	white-space: pre-wrap;
	/* white-space:pre-wrap is the method to keep the paragraph maintain the space and go to next line directly.*/
}
.chia_scrollable-element {
	scrollbar-color: var(--main-color) var(--word-color);
}
/*width*/
.chia_contentbody::-webkit-scrollbar {
	width: 15px;
}

/* Track */
.chia_contentbody::-webkit-scrollbar-track {
	border-radius: 50%;
}

/*Handle*/
.chia_contentbody::-webkit-scrollbar-thumb {
	background: var(--main-color);
	border: 3px solid transparent;
	border-radius: 9px;
	background-clip: content-box;
}
/*comment*/
.chia_commentheader {
	position: relative;
}
.chia_commentheader::before {
	content: url('../image/circledot/circleedit.svg');
	position: absolute;
	left: 35%;
	top: 10%;
}
.chia_commenttitle {
	margin-top: 45px;
	margin-bottom: 45px;
	font-size: 24px;
	font-weight: 700;
}
.chia_commentbox {
	width: 600px;
	border: 1px solid var(--word-color);
}
.chia_comment {
	width: 600px;
	/* border: 1px solid var(--word-color); */
	padding: 16px 18px;
	border-bottom: 1px solid var(--top10-bgc-op);
}

.chia_memeberimg {
	width: 58px;
	height: 58px;
	overflow: hidden;
	border-radius: 50%;
}

.chia_advatar {
	width: 100%;
	height: 100%;
}
.chia_c-box {
	margin-left: 12px;
}
.chia_content {
	font-size: var(--content--);
}
.chia_membername {
	margin-bottom: 29px;
	margin-top: 29px;
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 700;
}
.chia_time {
	font-size: 12px;
	font-weight: 700;
}
.chia_commenttai {
	margin-top: 72px;
	padding-bottom: 325px;
	position: relative;
}
.chia_commenttai::before {
	content: url('../image/circledot/hugecircle.svg');
	position: absolute;
	left: -5%;
	top: -5%;
}
.chia_c-tai {
	width: 600px;
	/* border: 1px solid var(--word-color); */
	padding: 16px 18px;
	border-bottom: 1px solid var(--top10-bgc-op);
	border: solid 1px var(--word-color);
}
.chia_commenttry {
	width: 425px;
}
.chia_commentbtn {
	width: 100px;
	height: 30px;
	background-color: var(--word-color);
	color: var(--word-color-sub);
	border: none;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;
}
.chia_withoutlogin p {
	margin-bottom: 0;
}
.chia_thumbup {
	position: absolute;
	// top: 11.5%;
	right: 16%;
	font-size: 20px;
}
.chia_content_header {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
// .chia_con {
// 	width: 100%;
// }
.chia_editarea {
	height: 50px;
	position: absolute;
	top: 4.5%;
	left: 30%;
}

.chia_pencil {
	font-size: 20px;
	transition: .5s;
}

.chia_pencil a {
	color: var(--word-color);
	transition: .5s;
}

.chia_pencil:hover {
	transform: scale(1.1);
}
.chia_pencil:hover a {
	color: var(--word-color);
	transform: scale(1.1);
}

//review edit
.chiaeditareastart {
	padding: 1rem;
}
.chia_editrarea {
	font-size: 16px;
}

//comment
// .chia_commentedit{

// }
