.chia_review {
	height: 800px;
	position: relative;
	overflow: hidden;
	background: url('../image/bg-paper.svg'), repeat, #fff;
	// background-color: #fff;
}
.chia_review::before {
	// content: url('./image/circledot/circleedit.svg');
	position: absolute;
	right: 39%;
	top: 1%;
}
.chia_reviewcircle {
	position: absolute;
	left: 39%;
	top: 1%;
	// animation-name: circlemove;
	// animation-duration: 6s;
	// animation-iteration-count: infinite;
	// animation-timing-function: ease-in;
}
.chia_reviewtitle {
	height: 170px;
}
// @keyframes circlemove {
// 	25% {
// 		transform: skew(-2deg);
// 	}
// 	50% {
// 		transform: translateX(-20px);
// 	}
// 	75% {
// 		transform: skew(2deg);
// 	}
// 	100% {
// 		transform: translateX(-40px);
// 	}
// }
.chia_review::after {
	// content: url('./image/circledot/circlerightside.svg');
	position: absolute;
	right: -5%;
	top: 65%;
}
.chia_reviewcontainer {
	position: relative;
}
.chia2 {
	position: absolute;
	left: -5%;
	top: 50%;
}

.chia_reviewheader {
	font-size: var(--h6--);
	font-weight: 700;
	margin: 36px auto;
}
.chia_reviewbox {
	margin: 14px 50px 100px 50px;
}
.chia_reviewborder-b {
	width: 315px;
	height: 573px;
	border: solid 2px var(--word-color);
	position: relative;
}
.chia_reviewborder-i {
	width: 315px;
	height: 573px;
	border: solid 2px var(--word-color);
	position: absolute;
	top: -15px;
	right: -15px;
}
.chia_reviewtop {
	width: 315px;
	height: 350px;
}
.chia_reviewimg {
	height: 272px;
	width: 204px;
}
.chia_reviewimg img {
	width: 100%;
	height: 100%;
}
.chia_reviewbottom {
	width: 300px;
	height: 195px;
}
.chia_reviewcontent_box {
	width: 232px;
	position: absolute;
	left: 32px;
	padding: 4px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-moz-webkit: line clamp 4;
	-ms-webkit: line clamp 4;
	-o-webkit: line clamp 4;
	-webkit-box-orient: vertical;
	font-size: var(--content--);
}

.chia_strim {
	width: 100%;
}
.chia_reviewlink a {
	color: var(--word-color);
	font-weight: 700;
}
.chia_reviewlink:hover a {
	color: var(--word-color);
	font-weight: 700;
}
.chia_reviewlink {
	position: absolute;
	bottom: 52px;
	right: 34px;
	font-size: 23px;
	color: var(--word-color);
	font-weight: 700;
}
