/* review section*/
.chia_reviewsection {
	height: 910px;
	background: url('../image/bg-paper.svg') repeat, #fff;
	position: relative;
}
.chia_reviewsection:before {
	// content: url('./image/circledot/circleedit.svg');
	position: absolute;
	left: 38%;
	top: 1%;
}

.chia_reviewtitle {
	position: relative;
}

.chia_writereview {
	position: absolute;
	right: 1.5%;
	top: 75%;
	font-size: var(--content--);
	font-weight: 700;
}
.chia_write {
	color: var(--word-color);
}
.chia_write:hover {
	color: var(--word-color);
}
.chia_reviewheader {
	font-size: 24px;
	font-weight: 700;
	margin: 72px auto;
}

/*review search*/
.chia_reviewsearchsection {
	/* border: 1px solid var(--word-color); */
	height: 515px;
	width: 325px;
}
.chia_botan {
	width: 215px;
	height: 40px;
	background-color: var(--word-color);
	color: var(--word-color-sub);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}
.chia_botannobgc {
	width: 215px;
	height: 40px;
	color: var(--word-color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
	border: 1px solid var(--word-color);
	font-size: var(--content--);
	font-weight: 700;
}
.chia_search {
	width: 215px;
	height: 40px;
	border: 1px solid var(--word-color);
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--word-color-sub);
	overflow: hidden;
}
.chia_searchbox {
	font-size: var(--content--);
	font-weight: 700;
}
.chia_searchbody,
.chia_searchmemberid {
	width: 163px;
	height: 40px;
	border-radius: 0px;
	border: none;
}
.chia_searchbody :focus {
	border: none;
}
.chia_solarbar {
	/* width: 215px; */
	margin-bottom: 16px;
	position: relative;
}
.chia_searchbtn {
	font-size: 24px;
	width: 52px;
	height: 40px;
	background-color: var(--word-color);
	color: var(--word-color-sub);
	border: none;
}
.chia_memberidbtn {
	font-size: 16px;
	width: 52px;
	height: 40px;
	background-color: var(--word-color);
	color: var(--word-color-sub);
	border: none;
}
.chia_solarbar {
	margin-bottom: 16px;
}
.chia_solarname {
	width: 163px;
	height: 40px;
	border: solid 1px var(--word-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--word-color);
	font-size: var(--content--);
	font-weight: 700;
}
.chia_solarmargin {
	margin-bottom: 0;
}

.chia_try {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* review body*/
.chia_reviewbody {
	width: 100%;
	height: 70%;
	/* border: solid 1px var(--word-color); */
}
// .chia_table {
// 	width: 55%;
// }
.chia_reviewtablehead {
	background-color: var(--word-color);
	color: var(--word-color-sub);
	margin-bottom: 16px;
	border-top: 1px solid var(--word-color) !important;
	border-bottom: 1px solid var(--word-color) !important;
	font-size: var(--content--);
}
.chia_reviewtablebody::before {
	content: "-";
	display: block;
	line-height: 1em;
	color: transparent;
}

.chia_reviewtd {
	border: 1px solid var(--word-color);
	border-top: 1px solid var(--word-color) !important;
	height: 60px;
	font-size: var(--content--);
}
.chia_reviewtd p {
	// margin-top: .4rem;
	margin-bottom: 0;
}
// .chia_title {
// 	width: 380px;
// }

// .chia_content {
// 	width: 380px;
// }
.chia_content a {
	color: var(--word-color);
	margin: 0;
}
.chia_reviewtd .content {
	margin-bottom: 0;
}

// /* Pagenation */
// .chia_pagenumber {
// 	margin-top: 36px;
// }
// .chia_page-item {
// 	font-size: 25px;
// }

// .chia_pagination {
// 	height: 56px;
// }

// .chia_page-item_a {
// 	width: 56px;
// 	height: 56px;
// 	line-height: 2.5;
// }
// .chia_custompage {
// 	border: none;
// 	margin-right: 16px;
// 	margin-left: 16px;
// 	color: var(--word-color);
// }
// .chia_custompage:hover {
// 	color: var(--word-color);
// 	text-decoration: none;
// }
// .chiareview_active {
// 	background-color: rgba(232, 48, 21, .33);
// 	border-radius: 50%;
// }
// .chia_searchmemberbar {
// 	width: 213px;
// }
.chia_rankings {
	transition: .3s;
}
.chia_rankings:hover {
	color: #fff;
	background-color: var(--word-color);
	transform: scale((1.1));
}
