.chia_hero-image {
	height: 900px;
	background: url('../image/Hero_1.jpg') no-repeat;
	/*gif 檔回來前暫時圖*/
	background-size: contain;
	margin: 0;
	padding: 0;

	position: relative;
}
.chia_mouse_scrolldown {
	position: absolute;
	bottom: 1rem;
	font-size: 47px;
	left: 41%;
}

.chia_logo {
	width: 72px;
	height: 55px;
}
// .container-fluid {
// 	height: 100%;
// 	position: relative;
// }
.chia_heroword {
	/* height: 800px; */
	position: absolute;
	margin: 0;
	padding: 0;
	right: 3%;
	top: 35%;
}
.chia_solar-box {
	position: relative;
}
.chia_solar_term {
	// font-size: var(--h2--);
	font-size: 84px;
	font-weight: 700;
}
.chia_index_button {
	border: 1px solid var(--word-color-sub);
	font-size: 24px;
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: 5%;
	left: 47.5%;
	text-align: center;
	padding: 1.5%;
	transition: 1.5s;
}
.chia_index_button:hover {
	transform: scale(1.2);
}
.chia_index_enter {
	color: var(--word-color-sub);
	line-height: 1.5;
}
.chia_index {
	background-color: rgba(0, 0, 0, .45);
	position: absolute;
	width: 1920px !important;
	height: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	// z-index: 999;
}
$lm-height: 6.5rem;
$lm-anim-speed: 10s;

.chia_solar_term {
	height: 100vh;
}

.chia_hidden {
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
}
.chia_solar_index,
.chia_staler_ex {
	color: var(--main-color);
}
.chia_i {
	color: var(--word-color);
	position: relative;
	top: 0;
	left: 0;
	transition: all .25s ease-in-out;
	padding: 0 $lm-height/20;
	margin-left: $lm-height/20;
	animation: topToBottom $lm-anim-speed ease-in-out infinite;
	animation-delay: 1.5s;
}

.chia_staler_ex {
	transition: .5s;
}
.chia_staler_ex:hover {
	transform: scale(1.1);
}

@keyframes topToBottom {
	0% {
		top: 0px;
	}
	17% {
		top: -$lm-height;
	}
	34% {
		top: -$lm-height*2;
	}
	51% {
		top: -$lm-height*3;
	}
	68% {
		top: -$lm-height*4;
	}
	82% {
		top: -$lm-height*5;
	}
	100% {
		top: -$lm-height*6;
	}
}

.chia_i:hover {
	color: var(--word-color);
	text-decoration: none;
}
.chia_hidden {
	position: relative;
	overflow: hidden;
	line-height: $lm-height;
	height: $lm-height;

	// line-height: $lm-height;
}

.chia_0305 {
	position: relative;
	font-size: var(--h3--);
	background-color: rgba(255, 255, 255, .5);
	height: 50%;
	padding: .7rem;
	border-radius: 4px;
	// animation-name: jump02;
	// animation-delay: .5s;
	// animation-duration: 1s;
	// animation-fill-mode: forwards;
}
.chia_0305 p {
	margin-bottom: 0;
}
.chia_0305 span {
	font-weight: 700;
}

@media screen and (max-width: 1440px) {
	.chia_solar_term,
	.chia_0305 {
		height: 70vh;
		font-size: 58px;
	}
	.chia_0305 {
		height: 30vh;
	}
	.chia_mouse_scrolldown {
		left: 35%;
	}
	.chia_hero-image {
		height: 800px;
	}
}
@media screen and (max-width: 1024px) {
	.chia_solar_term,
	.chia_0305 {
		height: 70vh;
		font-size: 42px;
	}
	.chia_0305 {
		height: 30vh;
	}
}
