.chia_memeberimg {
	position: relative;
}
.chia_avatar_hair {
	position: absolute;
	width: 50px;
	height: 48px;
	top: 4%;
	left: 8%;
}
.chia_avatar_face {
	position: absolute;
	width: 8px;
	height: 15px;
	top: 21%;
	left: 48%;
}
.chia_avatar_cloth {
	position: absolute;
	width: 24px;
	height: 33px;
	top: 42%;
	left: 27%;
}
.chia_avatar_acc {
	position: absolute;
	width: 10px;
	height: 5px;
	top: 19.5%;
	left: 44%;
}
