.fadein-on-start {
  animation: fadein 2s;
}

.book-card {
  width: 220px;
  height: 330px;
  /* border: 1px dashed black; */
  /* margin: 16px 0; */

  margin: 10px 0.5rem;

  display: flex;
  flex-direction: column;
}

.book-card > div {
  flex: 1;
}

.book-base {
  width: 218px;
  height: 248px;
  border-radius: 15px;
  background-color: var(--honki-white);
  padding: 10% 10% 10% 10%;
}

.book-img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.book-description {
  margin-top: 20px;
  padding: 0 0.5rem;
  position: relative;
}

.book-name {
  font-size: 14px;
}

.book-solar-term-year {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.osb-book-col {
  width: 720px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.osb-row {
  margin: 16px 0;
}

/* .book-card-spacing {
  padding: 0 0;
  margin: 10px 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.old-season-container {
  // height: 900px;
  margin-bottom: 80px;
  overflow-x: hidden;
}

/* media 變化 start */

@media only screen and (max-width: 1440px) {
  .osb-book-col {
    width: unset;
  }
}

@media only screen and (max-width: 1200px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */
  .title-bg {
    height: 2rem;
    transform: translate(1rem, 0rem);
    /* z-index: 2; */
  }

  .title {
    font-size: 2rem;
    text-align: center;
    /* z-index: 2; */
    // transform: translate(0.5rem, -0.5rem);
  }
}

/* 使桌面版 navbar 在寬度小於 992px 時取消 margin-top */
@media only screen and (max-width: 992px) {
  .old-season-container {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 360px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */

  .title-bg {
    height: 1.8rem;
    transform: translate(1rem, 0rem);
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    /* z-index: 2; */
    transform: translate(0rem, 0rem);
  }
}
