.hans-bread-crumb {
  margin-top: 48px;
  margin-left: 72px;
}

// fade in and fade out

.hans-z-index-up1 {
  z-index: 1;
}

.hans-z-index-up2 {
  z-index: 2;
}

.hans-z-index-up20 {
  z-index: 20;
}

.hans-z-index-down1 {
  z-index: -1;
}

.fadein-on-start {
  animation: fadein 4s;
}

.fadeIn {
  opacity: 1;
  transition: 2s;
}

.fadeOut {
  opacity: 0;
  transition: 2s;
}

.displayOn {
  opacity: 0;
  display: inline;
}

.displayOff {
  opacity: 0;
  display: none;
}

// Book cards area

/*
.osb-book-col-outer {
  display: flex;
  align-items: flex-end;
}

.osb-book-col-grad {
  position: absolute;

  flex-direction: column;

  height: 100%;
  width: calc(13vw);
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), black);
}
*/

// .osb-book-col-outer {
//   display: flex;
// }

.osb-book-col {
  width: 720px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.osb-row {
  margin: 16px 0;
}

/* .book-card-spacing {
  padding: 0 0;
  margin: 10px 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.old-season-container {
  // height: 900px;
  // margin-bottom: 135px;
  overflow-x: hidden;
}

/* media 變化 start */

@media only screen and (max-width: 1440px) {
  .osb-book-col {
    width: unset;
  }
}

@media only screen and (max-width: 1200px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */
}

/* 使桌面版 navbar 在寬度小於 992px 時取消 margin-top */
@media only screen and (max-width: 992px) {
  .old-season-container {
    margin-top: -80px;
  }

  .hans-bread-crumb {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */
}
