.hans-pointer {
  cursor: pointer;
}

.hans-book-card {
  width: 220px;
  height: 330px;
  // height: 362px;
  /* border: 1px dashed black; */
  /* margin: 16px 0; */

  margin: 10px 0.5rem 2rem 0.5rem;

  display: flex;
  flex-direction: column;

  // debug-------------------------------
  // debug 用背景色
  // background-color: grey;
  // transition: 2s;
}

.hans-book-card2 {
  width: 100%;
  height: 646px;
  margin: 28px 0.5rem 2rem 0.5rem;
  border-radius: 10px;

  display: flex;

  // debug-------------------------------
  // debug 用背景色
  background-color: var(--honki-white);
  // background-color: grey;
  transform: translate(-94px);
  transition: 2s;
}

.hans-book-card2 > div {
  // flex: 1;
}

.hans-book-card > div {
  // flex: 1;
}

.hans-book-base {
  width: 218px;
  height: 248px;

  border-radius: 15px;

  background-color: var(--honki-white);
  // padding: 34px 10%;

  display: flex;
  align-items: center;
  margin: 0 auto;

  cursor: pointer;
}

.hans-book-img {
  height: 180px;
  // display: block;
  align-self: center;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  margin: auto auto;
  // margin-top: 10%;
}

.hans-book-card-description {
  margin-top: 20px;
  padding: 0 0.5rem;
  position: relative;
}

.hans-book-name {
  height: 3rem;
  // width: 12.5rem;

  font-size: 14px;

  cursor: pointer;

  overflow: hidden;
}

.hans-book-name2 {
  height: 3rem;
  width: 12.5rem;

  font-size: 16px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;

  overflow: hidden;
  margin: 0 0 0.5rem 0;
  // transition: 2s;
}

.hans-card-solar-term-year {
  font-size: 12px;

  cursor: pointer;

  margin: 0rem 8px 1rem 8px;
  // position: absolute;
  // bottom: 0;
  // transform: translate(0, 70px);
  // transition: 2s;
}

.hans-card-solar-term-year2 {
  font-size: 16px;

  text-align: center;

  margin: 0.5rem 8px 0.5rem 8px;
  // position: absolute;
  // bottom: 0;
  // transform: translate(0, 70px);
  // transition: 2s;
}

.hans-card-col-left {
  width: 220px;
}

.hans-card-col-right {
  width: 100%;

  border: 1px solid grey;
  border-radius: 5px;

  margin: 27px 27px 27px 0px;
  padding: 1rem 4rem 0 4rem;

  // display: none;
}

.hans-close-btn {
  height: 0;
  text-align: right;
  align-self: center;
  transform: translate(100px, -50px);
  cursor: pointer;
}

.hans-osb-content-subtitle {
  font-weight: bold;
}

.hans-osb-content {
  height: 143px;

  font-size: 14px;
  text-align: justify;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
  //  debug
  // border: 1px solid #000;
}

.hans-center-block-item {
  display: flex;
  justify-content: center;
}

/* A 按鈕（倩），縮小版， hans 改ˋ */
.hans-btn-a {
  width: 100px;
  height: 30px;
  border-radius: 4px;

  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background-color: var(--honki-red);
  border-style: none;
  color: var(--honki-white);
  // line-height: 80px;
  transition: all 0.5s;
}
.hans-btn-a-fa-shopping-cart {
  margin-right: 40px;
}

.hans-btn-a:hover {
  color: rgb(224, 193, 188);
}
.hans-btn-a:focus {
  outline: none;
}

.hans-book-overview {
  height: 75px;

  font-size: 12px;
  color: #707070;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;

  margin: 0 0.5rem 0 0.5rem;
  padding: 0 1rem;
}

.hans-read-more {
  font-size: 12px;
  color: #707070;

  cursor: pointer;

  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0 1rem;
}

/* media 變化 start */

@media only screen and (max-width: 1440px) {
  .hans-book-card2 {
    width: 100%;
    height: unset;
    margin: 28px 0.5rem 2rem 0.5rem;
    border-radius: 10px;

    display: flex;
    // flex-direction: column;

    // debug-------------------------------
    // debug 用背景色
    background-color: var(--honki-white);
    // background-color: grey;
    transform: translate(-120px);
    transition: 2s;
  }
}

@media only screen and (max-width: 1350px) {
  .hans-book-card2 {
    transform: unset;
  }
}

// @media only screen and (max-width: 1200px) {
//   .hans-book-card2 {
//     transform: unset;
//   }
// }

/* 使桌面版 navbar 在寬度小於 992px 時取消 margin-top */
@media only screen and (max-width: 992px) {
  .hans-book-card2 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hans-card-col-left {
    margin: 0 auto;
  }
  .hans-card-col-right {
    width: unset;

    margin: 27px 20px 27px 20px;
    padding: 1rem 4rem 0rem 4rem;

    // display: none;
  }
  .hans-close-btn {
    transform: translate(90px, -540px);
  }
  .hans-osb-content {
    height: unset;
  }
}

@media only screen and (max-width: 360px) {
  .hans-card-col-right {
    padding: 1rem 1rem 0 1rem;
  }
  .hans-close-btn {
    transform: translate(42px, -540px);
  }
}
