.hans-pointer {
  cursor: pointer;
}

.hans-book-card {
  width: 220px;
  // height: 330px;
  height: 362px;
  /* border: 1px dashed black; */
  /* margin: 16px 0; */

  margin: 10px 0.5rem 2rem 0.5rem;

  display: flex;
  flex-direction: column;
}

.hans-book-card > div {
  flex: 1;
}

.hans-book-base {
  width: 218px;
  height: 248px;
  border-radius: 15px;
  background-color: var(--honki-white);
  padding: 34px 10%;
}

.hans-book-img {
  height: 100%;
  display: block;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  margin: 0 auto;
  // margin-top: 10%;
}

.hans-book-card-description {
  margin-top: 20px;
  padding: 0 0.5rem;
  position: relative;
}

.hans-book-name {
  font-size: 14px;
}

.hans-card-solar-term-year {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
