.title-pointer {
  transform: translate(calc(18vw), 0rem);
}

.title-box {
  width: 100vw / 2;
}

.title-bg {
  float: left;
  /* display: inline-block; */
  background-color: #ffffff;
  height: 3rem;
  overflow: initial;
  margin: 0.5rem;
  /* transform: translate(calc(100vw / 12), calc(100vh * 7 / 9 - 80px)); */
  transform: translate(calc(100vw / 12), -200px);
}

.title {
  transform: translate(0.1rem, -0.2rem);
}

/* media 變化 start */
@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1800px) {
  .title-bg {
    transform: translate(45px, -200px);
  }
}

@media only screen and (max-width: 1700px) {
  .title-bg {
    transform: translate(20px, -200px);
  }
}

@media only screen and (max-width: 1440px) {
  .title-bg {
    transform: translate(calc(100vw / 12), -200px);
  }

  .title-box {
    width: 100vw / 2;
  }
}

@media only screen and (max-width: 1200px) {
  .title-bg {
    height: 2rem;
    // transform: translate(1rem, 0rem);
    // transform: translate(20px, -200px);
  }

  .title {
    font-size: 2rem;
    text-align: center;
    /* z-index: 2; */
    // transform: translate(0.5rem, -0.5rem);
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 992px) {
  .title-bg {
    transform: translate(0rem, 0rem);
  }
}

@media only screen and (max-width: 360px) {
  .title-bg {
    height: 1.8rem;
    transform: translate(1rem, 0rem);
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
    /* z-index: 2; */
    // transform: translate(0rem, 0rem);
  }
}
