.fadein-on-start {
  animation: fadein 2s;
}

.osb-book-col {
  width: 720px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.osb-row {
  margin: 16px 0;
}

/* .book-card-spacing {
  padding: 0 0;
  margin: 10px 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.old-season-container {
  // height: 900px;
  margin-bottom: 80px;
  overflow-x: hidden;
}

/* media 變化 start */

@media only screen and (max-width: 1440px) {
  .osb-book-col {
    width: unset;
  }
}

@media only screen and (max-width: 1200px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */
}

/* 使桌面版 navbar 在寬度小於 992px 時取消 margin-top */
@media only screen and (max-width: 992px) {
  .old-season-container {
    margin-top: -80px;
  }
}

@media only screen and (max-width: 360px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */
}
