@charset "UTF-8";
/* 
12 等份圓盤

參考資料：
https://stackoverflow.com/questions/14184494/segments-in-a-circle-using-css3/14185845 
https://codepen.io/ant1mas/pen/MeJjaK
*/
/* solar-term-plate 的各種設定 end */
.book-card {
  width: 220px;
  height: 330px;
  /* border: 1px dashed black; */
  /* margin: 16px 0; */
  margin: 10px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book-card > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.book-base {
  width: 218px;
  height: 248px;
  border-radius: 15px;
  background-color: var(--honki-white);
  padding: 10% 10% 10% 10%;
}

.book-img {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.book-description {
  margin-top: 20px;
  padding: 0 0.5rem;
  position: relative;
}

.book-name {
  font-size: 14px;
}

.book-solar-term-year {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.osb-book-col {
  width: 720px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.osb-row {
  margin: 16px 0;
}

/* .book-card-spacing {
  padding: 0 0;
  margin: 10px 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.old-season-container {
  height: 900px;
  /* margin-bottom: 80px; */
  overflow-x: hidden;
}

/* solar-term-plate 的各種設定 start */
.title-pointer {
  -webkit-transform: translate(calc(18vw), 0rem);
          transform: translate(calc(18vw), 0rem);
}

.title-box {
  width: 100vw / 2;
}

.title-bg {
  float: left;
  /* display: inline-block; */
  background-color: #ffffff;
  height: 2.5rem;
  overflow: initial;
  margin: 0.5rem;
  /* transform: translate(calc(100vw / 12), calc(100vh * 7 / 9 - 80px)); */
  -webkit-transform: translate(calc(100vw / 12), 0rem);
          transform: translate(calc(100vw / 12), 0rem);
}

.title {
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

.rotate {
  -webkit-animation: rotation 120s infinite linear;
          animation: rotation 120s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    /* transform: translate(0px, 0px) rotate(0deg); */
    /* transform: translate(-81px, -205px) rotate(0deg); */
    -webkit-transform: translate(-70px, -173px) rotate(15deg);
            transform: translate(-70px, -173px) rotate(15deg);
  }
  to {
    /* transform: translate(0px, 0px) rotate(359deg); */
    /* transform: translate(-81px, -205px) rotate(359deg); */
    -webkit-transform: translate(-70px, -173px) rotate(374deg);
            transform: translate(-70px, -173px) rotate(374deg);
  }
}

@keyframes rotation {
  from {
    /* transform: translate(0px, 0px) rotate(0deg); */
    /* transform: translate(-81px, -205px) rotate(0deg); */
    -webkit-transform: translate(-70px, -173px) rotate(15deg);
            transform: translate(-70px, -173px) rotate(15deg);
  }
  to {
    /* transform: translate(0px, 0px) rotate(359deg); */
    /* transform: translate(-81px, -205px) rotate(359deg); */
    -webkit-transform: translate(-70px, -173px) rotate(374deg);
            transform: translate(-70px, -173px) rotate(374deg);
  }
}

.solar-term-plate-filler {
  height: calc(62vh);
}

.solar-term-plate-v2 {
  overflow: hidden;
  position: absolute;
  margin: 1em auto;
  padding: 0;
  width: 715px;
  height: 715px;
  /* border: 1px solid black; */
  border-radius: 50%;
  list-style: none;
  /* image source: https://www.behance.net/gallery/38204839/The-24-Solar-Terms-Character-Design */
  background-image: url(http://localhost:3000/images/hans/The_24_Solar_Terms_by_Cinyee_Chiu_715x715.png);
  background-size: 100% 100%;
  /* transform: translate(0px, 0px); */
  /* transform: translate(-81px, -265px); */
  -webkit-transform: translate(-70px, -173px) rotate(15deg);
          transform: translate(-70px, -173px) rotate(15deg);
}

/* .solar-term-plate-v2:hover {
  transform: translate(-500px, -300px) rotate(30deg) skewY(0deg);
  transition: 0.5s;
} */
/* 中心紅圓塊 start */
.red-center {
  width: 395px;
  height: 395px;
  border-radius: 50%;
  border: 23px solid var(--honki-paper);
  background-color: var(--honki-red);
  /* background-image: url(images/earth-2336011_640_468x468.jpg);
  background-size: 100% 100%; */
  overflow: hidden;
  -webkit-transform: translate(40%, 40%);
          transform: translate(40%, 40%);
}

/* .red-center .red-center-bg-color {
  background-color: var(--honki-red);
  position: absolute;
  width: 200%;
  height: 200%;
  opacity: 0;
} */
/* 中心紅圓塊 end */
.slice {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid var(--honki-paper);
  margin-top: -5000px;
  margin-left: -5000px;
  width: 5000px;
  height: 5000px;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.slice:nth-child(1) {
  -webkit-transform: rotate(0deg) skewY(60deg);
          transform: rotate(0deg) skewY(60deg);
  opacity: 0;
  display: block;
}

.slice:nth-child(2) {
  -webkit-transform: rotate(30deg) skewY(60deg);
          transform: rotate(30deg) skewY(60deg);
}

.slice:nth-child(3) {
  -webkit-transform: rotate(60deg) skewY(60deg);
          transform: rotate(60deg) skewY(60deg);
}

.slice:nth-child(4) {
  -webkit-transform: rotate(90deg) skewY(60deg);
          transform: rotate(90deg) skewY(60deg);
}

.slice:nth-child(5) {
  -webkit-transform: rotate(120deg) skewY(60deg);
          transform: rotate(120deg) skewY(60deg);
}

.slice:nth-child(6) {
  -webkit-transform: rotate(150deg) skewY(60deg);
          transform: rotate(150deg) skewY(60deg);
}

.slice:nth-child(7) {
  -webkit-transform: rotate(180deg) skewY(60deg);
          transform: rotate(180deg) skewY(60deg);
}

.slice:nth-child(8) {
  -webkit-transform: rotate(210deg) skewY(60deg);
          transform: rotate(210deg) skewY(60deg);
}

.slice:nth-child(9) {
  -webkit-transform: rotate(240deg) skewY(60deg);
          transform: rotate(240deg) skewY(60deg);
}

.slice:nth-child(10) {
  -webkit-transform: rotate(270deg) skewY(60deg);
          transform: rotate(270deg) skewY(60deg);
}

.slice:nth-child(11) {
  -webkit-transform: rotate(300deg) skewY(60deg);
          transform: rotate(300deg) skewY(60deg);
}

.slice:nth-child(12) {
  -webkit-transform: rotate(330deg) skewY(60deg);
          transform: rotate(330deg) skewY(60deg);
}

.slice:nth-child(13) {
  -webkit-transform: rotate(360deg) skewY(60deg);
          transform: rotate(360deg) skewY(60deg);
}

.slice-contents {
  position: absolute;
  /* left: -100%; */
  width: 200%;
  height: 200%;
  border-radius: 50%;
  /* background: var(--honki-black);
  opacity: 50%; */
}

.slice:hover .slice-contents {
  background-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

/* .red-center-bg-color:hover {
  background-color: transparent;
  transition: 1s;
} */
/* media 變化 start */
@media only screen and (max-width: 1440px) {
  .osb-book-col {
    width: unset;
  }
}

@media only screen and (max-width: 1200px) {
  /* .solar-term-plate-v2 {
    z-index: 0;
  } */
  .title-bg {
    -webkit-transform: translate(-1rem, 0rem);
            transform: translate(-1rem, 0rem);
    /* z-index: 2; */
  }
  .title {
    font-size: 2rem;
    text-align: center;
    /* z-index: 2; */
    -webkit-transform: translate(0.5rem, -0.5rem);
            transform: translate(0.5rem, -0.5rem);
  }
}
/*# sourceMappingURL=old-seasons.css.map */