.hans-st-info {
  width: 412px;
  height: 241px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;

  border-radius: 10px;
  background-color: var(--honki-white);

  transform: translate(0, -120px);
}

.red-center-text {
  text-align: center;
  font-size: 83px;
  font-weight: 500;

  transform: translate(0, -160px);
}

/* media 變化 start */

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1200px) {
  .hans-st-info {
    display: none;
    // opacity: 0;
  }
}

@media only screen and (max-width: 992px) {
  // .hans-st-info {
  //   width: unset;
  //   height: unset;
  //   padding-bottom: 1rem;
  //   transform: translate(0, 0);
  //   display: none;
  //   // opacity: 0;
  // }

  .red-center-text {
    transform: translate(0, -40px);
  }
}

@media only screen and (max-width: 360px) {
}
