.hans-st-title-bg {
  background-color: rgba(242, 236, 227, 0.6);

  //   border: solid 2px var(--honki-black);
  border-radius: 10px;
  //   padding-top: 5px;
  //   padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
