/* 
12 等份圓盤

參考資料：
https://stackoverflow.com/questions/14184494/segments-in-a-circle-using-css3/14185845 
https://codepen.io/ant1mas/pen/MeJjaK
*/

/* solar-term-plate 的各種設定 end */

// .solar-term-plate-filler {
//   height: calc(62vh);
// }

.solar-term-plate-v2 {
  overflow: hidden;
  position: absolute;
  margin: 1em auto;
  padding: 0;
  width: 715px;
  height: 715px;
  /* border: 1px solid black; */
  border-radius: 50%;
  list-style: none;

  background-image: url(http://localhost:3000/images/hans/The_24_Solar_Terms_by_Cinyee_Chiu_715x715.png);
  background-size: 100% 100%;

  /* image source: https://www.behance.net/gallery/38204839/The-24-Solar-Terms-Character-Design */

  // 圓盤位置
  // transform: translate(0px, 0px);
  // transform: translate(-81px, -265px);
  transform: translate(-70px, -173px) rotate(15deg);
}

/* .solar-term-plate-v2:hover {
  transform: translate(-500px, -300px) rotate(30deg) skewY(0deg);
  transition: 0.5s;
} */

/* 中心紅圓塊 start */

.red-center {
  width: 395px;
  height: 395px;
  border-radius: 50%;
  border: 23px solid var(--honki-paper);

  background-color: var(--honki-red);

  /* background-image: url(images/earth-2336011_640_468x468.jpg);
  background-size: 100% 100%; */

  overflow: hidden;

  transform: translate(40%, 40%);
}

/* .red-center .red-center-bg-color {
  background-color: var(--honki-red);
  position: absolute;
  width: 200%;
  height: 200%;
  opacity: 0;
} */

/* 中心紅圓塊 end */

.slice {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;

  border: 5px solid var(--honki-paper);

  margin-top: -5000px;
  margin-left: -5000px;

  width: 5000px;
  height: 5000px;
  transform-origin: 100% 100%;
}
.slice:nth-child(1) {
  transform: rotate(0deg) skewY(60deg);
  opacity: 0;
  display: block;
}
.slice:nth-child(2) {
  transform: rotate(30deg) skewY(60deg);
}
.slice:nth-child(3) {
  transform: rotate(60deg) skewY(60deg);
}
.slice:nth-child(4) {
  transform: rotate(90deg) skewY(60deg);
}
.slice:nth-child(5) {
  transform: rotate(120deg) skewY(60deg);
}
.slice:nth-child(6) {
  transform: rotate(150deg) skewY(60deg);
}
.slice:nth-child(7) {
  transform: rotate(180deg) skewY(60deg);
}
.slice:nth-child(8) {
  transform: rotate(210deg) skewY(60deg);
}
.slice:nth-child(9) {
  transform: rotate(240deg) skewY(60deg);
}
.slice:nth-child(10) {
  transform: rotate(270deg) skewY(60deg);
}
.slice:nth-child(11) {
  transform: rotate(300deg) skewY(60deg);
}
.slice:nth-child(12) {
  transform: rotate(330deg) skewY(60deg);
}
.slice:nth-child(13) {
  transform: rotate(360deg) skewY(60deg);
}

.slice-contents {
  position: absolute;
  /* left: -100%; */
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: var(--honki-black);
  opacity: 50%;
}

.slice:hover .slice-contents {
  background-color: transparent;
  transition: 1s;
}

/* .red-center-bg-color:hover {
  background-color: transparent;
  transition: 1s;
} */

/* media 變化 start */

@media only screen and (max-width: 1440px) {
  .osb-book-col {
    width: unset;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    // transform: translate(0px, 0px) rotate(0deg);
    // transform: translate(-81px, -265px) rotate(0deg);
    transform: translate(-70px, -173px) rotate(15deg);
  }
  to {
    // transform: translate(0px, 0px) rotate(359deg);
    // transform: translate(-81px, -265px) rotate(359deg);
    transform: translate(-70px, -173px) rotate(374deg);
  }
}

.rotate {
  animation: rotation 120s infinite linear;
  animation-delay: 2s;
}
