.yu-edit-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 18%;
  z-index: -1;
}

.yu-edit-breadcrumb {
  padding-top: 72px;
  padding-left: 158px;
}

.yu-edit-member-menu {
  position: absolute;
  top: 5%;
  left: 20%;
}

.yu-edit-member-photo {
  width: 200px;
  height: 200px;
  margin-top: 200px;
}

.yu-edit-general-member {
  background-color: var(--honki-theme);
  width: 110px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  margin: 30px 0 10px 45px;
}

.yu-edit-greeting {
  margin: 20px 0 0 45px;
}

/* 會員總表收合選單 */
.yu-edit-tab .nav-tabs .nav-link {
  width: 25%;
}

/* 表單背景色 */
.yu-edit-panels {
  background-color: var(--honki-yellow);
}

.yu-edit-face,
.yu-edit-hair,
.yu-edit-cloth,
.yu-edit-acc {
  display: none;
}

.yu-edit-photo-face,
.yu-edit-photo-hair,
.yu-edit-photo-cloth,
.yu-edit-photo-acc {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f3e1c6;
  border: 1px solid #707070;
  margin-left: 10px;
}
