.yu-register-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px 0 12px 0;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: 43%;
  z-index: -1;
}

.yu-register-form {
  width: 100%;
}

.yu-register-form-title {
  text-align: center;
  margin: 72px auto 38px auto;
}

.yu-register-bookspage1-1 {
  width: 100%;
  opacity: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
}

.yu-register-save {
  font-size: 14px;
}

.yu-register-send {
  color: var(--honki-white);
}

.yu-register-invalid-feedback-name {
  position: absolute;
  left: 63%;
  top: 21.5%;
  width: 10%;
}

.yu-register-invalid-feedback-email {
  position: absolute;
  left: 63%;
  top: 34.3%;
  width: 10%;
}

.yu-register-invalid-feedback-mobile {
  position: absolute;
  left: 63%;
  bottom: 56.7%;
  width: 10%;
}

.yu-register-invalid-feedback-password {
  position: absolute;
  left: 63%;
  bottom: 37.5%;
  width: 10%;
  padding-left: -15px;
}

.yu-register-invalid-feedback-password2 {
  position: absolute;
  left: 63%;
  bottom: 37.5%;
  width: 10%;
  padding-left: -15px;
}
