.yu-menu-breadcrumb {
  padding-top: 72px;
  padding-left: 5%;
}

// 紅圓點
.yu-menu-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 26%;
  left: 10%;
  z-index: -1;
}

/* 標題欄 */
.yu-menu-member-menu {
  text-align: left;
  padding-top: 2%;
  margin-left: 15%;
  margin-bottom: 1%;
}

.yu-menu-member-photo {
  position: relative;
  margin-left: auto;
  margin-right: 50px;
  width: 150px;
  height: 150px;
}

.yu-menu-member-photo-face {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 29px;
  left: 73px;
  z-index: 200;
}

.yu-menu-member-photo-face img {
  width: 100%;
  height: 100%;
}

.yu-menu-member-photo-hair {
  width: 160px;
  height: 160px;
  position: absolute;
  top: -31px;
  z-index: 100;
}

.yu-menu-member-photo-hair img {
  width: 100%;
  height: 100%;
}

.yu-menu-member-photo-acc {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 62px;
  z-index: 100;
}

.yu-menu-member-photo-acc img {
  width: 100%;
  height: 100%;
}

.yu-menu-member-photo-cloth {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 55px;
  left: 35px;
  z-index: 10;
}

.yu-menu-member-photo-cloth img {
  width: 100%;
  height: 100%;
}

.yu-menu-member-photo-bg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  // right: 20%;
  // top: 20%;
  z-index: 10;
}

.yu-menu-member-photo-bg img {
  width: 100%;
  height: 100%;
}

.yu-menu-general {
  // position: absolute;
  // right: 12%;
  // top: 23%;
  margin-right: 12%;
}

.yu-menu-general-member {
  background-color: var(--honki-theme);
  width: 110px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  margin: 10px 0 10px 0;
  line-height: 30px;
}
.yu-menu-general-member.yu-red {
  background: var(--honki-red);
  color: var(--honki-white);
}
.yu-menu-greeting {
  margin: 0 0 25px 0;
  text-align: center;
}

.yu-menu-member-name {
  background-color: rgb(209, 193, 181);
  color: var(--honki-theme);
  border-radius: 4px;
  text-align: center;
  padding: 0 5px 0 5px;
}

.yu-menu-member-welcome {
  margin: 10px 0 10px 0;
}

/* 表單背景色 */
.yu-menu-panels {
  background-color: var(--honki-yellow);
}

/* 欄位分隔 */
.yu-menu-col-2 {
  column-count: 2;
}

/* 我的帳戶 */
.yu-menu-account-1 {
  border: 2px solid rgb(160, 159, 159);
  padding: 5px;
  border-radius: 4px 4px 0 0;
}

.yu-menu-account-1-1 {
  background-color: var(--honki-black);
  width: 110px;
  height: 30px;
  border-radius: 4px;
}

.yu-menu-card {
  color: var(--honki-theme);
  margin: auto 0 auto 0;
}

.yu-menu-account-1-1-1 {
  color: var(--honki-white);
  margin: auto 0 auto 5px;
}

.yu-menu-account-2 {
  border: 2px solid rgb(160, 159, 159);
  border-radius: 0 0 4px 4px;
  border-top: 0;
  line-height: 2.5;
}

.yu-menu-links {
  color: var(--honki-black);
}
