.yu-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 65%;
  z-index: -1;
}

.yu-breadcrumb {
  padding-top: 72px;
  padding-left: 158px;
}

.yu-member-menu-title {
  text-align: center;
  /* margin: 72px auto 38px auto; */
}

.yu-member-photo {
  width: 200px;
  height: 200px;
}

.yu-general-member {
  background-color: var(--honki-theme);
  width: 110px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

.yu-general-bookshelf {
  width: 70%;
  z-index: -1;
  position: relative;
}

/* 書總體設定 */
.yu-books {
  width: 24px;
  height: 80px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  z-index: 200;
  position: absolute;
}

.yu-dots {
  color: var(--honki-red);
}
.yu-books::before {
  content: '';
  position: absolute;
  top: -15%;
  right: -116px;
  width: 115px;
  height: 155px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 每本書的設定 */
/* book1 */
.yu-book-1 {
  top: 5%;
  left: 8%;
}
.yu-book-1::before {
  background-color: #776b6b;
  right: -114px;
  border: 8px solid #7b7b7b;
}

.yu-buyitnow {
  width: 80px;
  height: 30px;
  background-color: var(--honki-red);
  color: var(--honki-white);
  border-radius: 10px 10px 0 0;
  text-align: center;
  /* line-height: 30px; */
  position: absolute;
  top: 44%;
  left: 25.5%;
}

/* book2 */
.yu-book-2 {
  top: 5%;
  left: 30%;
}
.yu-book-2::before {
  background-image: url('http://localhost:3000/images/books/5fe412cc8c308.jpg');
}

/* book3 */
.yu-book-3 {
  top: 5%;
  left: 52%;
}
.yu-book-3::before {
  background-image: url('http://localhost:3000/images/books/9789869961202.png');
  top: -20%;
  right: -112px;
}

/* book4 */
.yu-book-4 {
  top: 5%;
  left: 73%;
}
.yu-book-4::before {
  background-image: url('http://localhost:3000/images/books/5ffd7ae732794.jpg');
}

/* book5 */
.yu-book-5 {
  top: 20%;
  left: 10%;
}
.yu-book-5::before {
  background-image: url('http://localhost:3000/images/books/5feb00a29fc37.jpg');
}

/* book6 */
.yu-book-6 {
  top: 19%;
  left: 30%;
}
.yu-book-6::before {
  background-image: url('http://localhost:3000/images/books/5fe1ece65a1ed.jpg');
}

/* book7 */
.yu-book-7 {
  top: 20%;
  left: 50%;
}
.yu-book-7::before {
  background-image: url('http://localhost:3000/images/books/5feb003a5381b.jpg');
}

/* book8 */
.yu-book-8 {
  top: 19%;
  left: 70%;
}
.yu-book-8::before {
  background-image: url('http://localhost:3000/images/books/5ffd80e4030f1.jpg');
}

/* book9 */
.yu-book-9 {
  top: 32%;
  left: 10%;
}
.yu-book-9::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book10 */
.yu-book-10 {
  top: 32%;
  left: 30%;
}
.yu-book-10::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book11 */
.yu-book-11 {
  top: 32%;
  left: 50%;
}
.yu-book-11::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book12 */
.yu-book-12 {
  top: 32%;
  left: 70%;
}
.yu-book-12::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book13 */
.yu-book-13 {
  top: 47.5%;
  left: 10%;
}
.yu-book-13::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book14 */
.yu-book-14 {
  top: 47.5%;
  left: 30%;
}
.yu-book-14::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book15 */
.yu-book-15 {
  top: 47.5%;
  left: 50%;
}
.yu-book-15::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book16 */
.yu-book-16 {
  top: 47.5%;
  left: 70%;
}
.yu-book-16::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book17 */
.yu-book-17 {
  top: 63%;
  left: 10%;
}
.yu-book-17::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book18 */
.yu-book-18 {
  top: 63%;
  left: 30%;
}
.yu-book-18::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book19 */
.yu-book-19 {
  top: 63%;
  left: 50%;
}
.yu-book-19::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book20 */
.yu-book-20 {
  top: 63%;
  left: 70%;
}
.yu-book-20::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book21 */
.yu-book-21 {
  top: 79%;
  left: 10%;
}
.yu-book-21::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book22 */
.yu-book-22 {
  top: 79%;
  left: 30%;
}
.yu-book-22::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book23 */
.yu-book-23 {
  top: 79%;
  left: 50%;
}
.yu-book-23::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* book24 */
.yu-book-24 {
  top: 79%;
  left: 70%;
}
.yu-book-24::before {
  background-image: url('http://localhost:3000/images/books/5fe1e73e11e25.jpg');
}

/* .yu-wood{
    width: 5px;
    height: 5px;
  } */

.yu-member-menu-title {
  margin-top: 15%;
  margin-left: 230px;
}

.yu-new-book {
  margin-top: 5rem;
  background-color: #d2bdaa4b;
  height: 360px;
  border-radius: 32px;
  padding: 54px 0;
  position: relative;
}
.yu-new-book-pic {
  width: 40%;
}
.yu-ladybug {
  width: 24px;
  position: absolute;
  left: 10%;
  bottom: 10%;
}
