.yu-login-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 13%;
  left: 44%;
  z-index: -1;
}

.yu-login-form {
  width: 100%;
}

.yu-login-form-title {
  text-align: center;
  margin: 100px auto 48px auto;
}

/* .yu-bookspage {
    position: absolute;
  } */

.yu-login-bookspage1-1 {
  width: 100%;
  opacity: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
}

.yu-login-pic {
  /* background-image: url("/images/style-guide/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%; */
  border-radius: 20px;
  border: 1px solid rgb(189, 189, 189);
}

.yu-login-checkbox {
  display: flex;
  justify-content: space-around;
}

.yu-login-save {
  font-size: 14px;
}

.yu-login-forget-password-link a {
  font-size: 14px;
  text-decoration: underline;
  color: var(--honki-black);
}

.yu-login-register-link {
  text-align: center;
  margin: 32px auto 24px auto;
  text-decoration: underline;
  width: 10%;
}

.yu-login-register-link a {
  color: var(--honki-black);
}

.yu-login-send {
  color: var(--honki-white);
}

.yu-login-error {
  font-size: 16px;
}

.yu-login-from-others {
  width: 100%;
  text-align: center;
  margin: 48px auto 31px auto;
}

.yu-login-otherlinks {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 192px;
}

.yu-login-facebook-link {
  font-size: 55px;
  color: var(--honki-black);
}

.yu-login-line-link {
  font-size: 55px;
  color: var(--honki-black);
}

.yu-login-google-link {
  font-size: 51px;
  color: var(--honki-black);
  padding-top: 2px;
}
