.yu-book-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 65%;
  z-index: -1;
}

.yu-book-breadcrumb {
  padding-top: 72px;
  padding-left: 158px;
}

.yu-book-general-bookshelf {
  width: 70%;
  // z-index: -1;
  position: relative;
}

/* 書總體設定 */
.yu-books {
  width: 24px;
  height: 80px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  font-size: 14px;
  z-index: 200;
  position: absolute;
}

.yu-dots {
  color: var(--honki-red);
}
.yu-books::before {
  content: '';
  position: absolute;
  top: -15%;
  right: -116px;
  width: 115px;
  height: 155px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 每本書的設定 */
/* book1 */
.yu-book-1 {
  top: 5%;
  left: 7%;
  z-index: 1;
}
.yu-book-1::before {
  background-color: #776b6b;
  right: -114px;
  border: 8px solid #7b7b7b;
}

#drop {
  width: 115px;
  height: 146px;
  position: absolute;
  top: -15%;
  left: 23px;
  background-color: transparent;
  z-index: 1000;
}
#drop2 {
  width: 100%;
  z-index: 1000;
}

.yu-book-question {
  font-size: 48px;
  color: var(--honki-white);
  position: absolute;
  top: 90px;
  left: 120px;
  z-index: 8;
}

.yu-book-buyitnow {
  width: 80px;
  height: 30px;
  background-color: var(--honki-red);
  color: var(--honki-white);
  border-radius: 10px 10px 0 0;
  text-align: center;
  /* line-height: 30px; */
  position: absolute;
  top: 180px;
  left: 94px;
  z-index: 10;
}

.yu-book-buyitnow a {
  color: var(--honki-white);
}

// .yu-book-1:hover {
//   margin-top: -30px;
// }
/* book2 */
.yu-book-2 {
  top: 5%;
  left: 30%;
  transition: 0.5s;
}

@for $i from 1 through 24 {
  .yu-book-#{$i} {
    transition: 0.4s;
  }
}
.yu-book-2::before {
  background-image: url('http://localhost:3000/images/books/5fe412cc8c308.jpg');
}

.yu-book-2:hover {
  margin-top: -30px;
}

/* book3 */
.yu-book-3 {
  top: 5%;
  left: 52%;
}
.yu-book-3::before {
  background-image: url('http://localhost:3000/images/books/9789869961202.png');
  top: -20%;
  right: -112px;
}

.yu-book-3:hover {
  margin-top: -30px;
}

/* book4 */
.yu-book-4 {
  top: 5%;
  left: 73%;
}
.yu-book-4::before {
  background-image: url('http://localhost:3000/images/books/5ffd7ae732794.jpg');
}

.yu-book-4:hover {
  margin-top: -30px;
}

/* book5 */
.yu-book-5 {
  top: 20%;
  left: 10%;
}
.yu-book-5::before {
  background-image: url('http://localhost:3000/images/books/5fe1ed704441b.jpg');
}

.yu-book-5:hover {
  margin-top: -30px;
}

/* book6 */
.yu-book-6 {
  top: 20%;
  left: 30%;
}
.yu-book-6::before {
  background-image: url('http://localhost:3000/images/books/5fe42aa496cb3.png');
}

.yu-book-6:hover {
  margin-top: -30px;
}

/* book7 */
.yu-book-7 {
  top: 20%;
  left: 50%;
}
.yu-book-7::before {
  background-image: url('http://localhost:3000/images/books/5fe4544c89b6f.jpg');
}

.yu-book-7:hover {
  margin-top: -30px;
}

/* book8 */
.yu-book-8 {
  top: 19%;
  left: 70%;
}
.yu-book-8::before {
  background-image: url('http://localhost:3000/images/books/5ffd80e4030f1.jpg');
}

.yu-book-8:hover {
  margin-top: -30px;
}

/* book9 */
.yu-book-9 {
  top: 35%;
  left: 7%;
}
.yu-book-9::before {
  background-image: url('http://localhost:3000/images/books/5fe1e9a1e0a77.png');
  left: 15px;
}

.yu-book-9:hover {
  margin-top: -30px;
}

/* book10 */
.yu-book-10 {
  top: 35%;
  left: 28%;
}
.yu-book-10::before {
  background-image: url('http://localhost:3000/images/books/5ffd7a0e2864e.jpg');
}

.yu-book-10:hover {
  margin-top: -30px;
}

/* book11 */
.yu-book-11 {
  top: 35%;
  left: 50%;
}
.yu-book-11::before {
  background-image: url('http://localhost:3000/images/books/5feb003a5381b.jpg');
}

.yu-book-11:hover {
  margin-top: -30px;
}

/* book12 */
.yu-book-12 {
  top: 35%;
  left: 70%;
}
.yu-book-12::before {
  background-image: url('http://localhost:3000/images/books/5ffd76bd8c496.png');
}

.yu-book-12:hover {
  margin-top: -30px;
}

/* book13 */
.yu-book-13 {
  top: 50%;
  left: 8%;
}
.yu-book-13::before {
  background-image: url('http://localhost:3000/images/books/5ffd4315e718e.png');
  left: 17px;
}

.yu-book-13:hover {
  margin-top: -30px;
}

/* book14 */
.yu-book-14 {
  top: 50%;
  left: 28%;
}
.yu-book-14::before {
  background-image: url('http://localhost:3000/images/books/5ffd76f536e17.jpg');
}

.yu-book-14:hover {
  margin-top: -30px;
}

/* book15 */
.yu-book-15 {
  top: 50%;
  left: 50%;
}
.yu-book-15::before {
  background-image: url('http://localhost:3000/images/books/5ffd77846d0bd.jpg');
}

.yu-book-15:hover {
  margin-top: -30px;
}

/* book16 */
.yu-book-16 {
  top: 50%;
  left: 70%;
}
.yu-book-16::before {
  background-image: url('http://localhost:3000/images/books/5ffd61e215167.jpg');
}

.yu-book-16:hover {
  margin-top: -30px;
}

/* book17 */
.yu-book-17 {
  top: 65%;
  left: 10%;
}
.yu-book-17::before {
  background-image: url('http://localhost:3000/images/books/5ffd7ab5a282a.jpg');
}

.yu-book-17:hover {
  margin-top: -30px;
}

/* book18 */
.yu-book-18 {
  top: 67%;
  left: 30%;
}
.yu-book-18::before {
  background-image: url('http://localhost:3000/images/books/5ffd7648d7f0c.jpg');
}

.yu-book-18:hover {
  margin-top: -30px;
}

/* book19 */
.yu-book-19 {
  top: 65%;
  left: 50%;
}
.yu-book-19::before {
  background-image: url('http://localhost:3000/images/books/601ca127bd195.jpg');
}

.yu-book-19:hover {
  margin-top: -30px;
}

/* book20 */
.yu-book-20 {
  top: 65%;
  left: 70%;
}
.yu-book-20::before {
  background-image: url('http://localhost:3000/images/books/5ffd5702491f9.png');
}

.yu-book-20:hover {
  margin-top: -30px;
}

/* book21 */
.yu-book-21 {
  top: 81%;
  left: 10%;
}
.yu-book-21::before {
  background-image: url('http://localhost:3000/images/books/601be6b9beab6.png');
}

.yu-book-21:hover {
  margin-top: -30px;
}

/* book22 */
.yu-book-22 {
  top: 81%;
  left: 30%;
}
.yu-book-22::before {
  background-image: url('http://localhost:3000/images/books/5ffd7be29853e.png');
}

.yu-book-22:hover {
  margin-top: -30px;
}

/* book23 */
.yu-book-23 {
  top: 81%;
  left: 50%;
}
.yu-book-23::before {
  background-image: url('http://localhost:3000/images/books/5ffd7721e9a16.jpg');
}

.yu-book-23:hover {
  margin-top: -30px;
}

/* book24 */
.yu-book-24 {
  top: 81%;
  left: 70%;
}
.yu-book-24::before {
  background-image: url('http://localhost:3000/images/books/5fe47bd57bf1e.jpg');
}

.yu-book-24:hover {
  margin-top: -30px;
}
// .yu-books:hover {
//   top: -0%;
// }
/* .yu-wood{
    width: 5px;
    height: 5px;
  } */

// 右欄
.yu-book-member-menu-title {
  text-align: center;
  margin-top: 15%;
  margin-left: 60px;
  /* margin: 72px auto 38px auto; */
}

.yu-book-member-photo-face img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 26%;
  top: 14%;
  z-index: 200;
}

.yu-book-member-photo-hair img {
  width: 280px;
  height: 280px;
  position: absolute;
  right: 0.1%;
  top: 6.9%;
  z-index: 100;
}

.yu-book-member-photo-acc img {
  width: 55px;
  height: 55px;
  position: absolute;
  right: 27.5%;
  top: 13.7%;
  z-index: 100;
}

.yu-book-member-photo-cloth img {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 22%;
  top: 17%;
  z-index: 10;
}

.yu-book-member-photo-bg img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 5%;
  top: 9%;
  z-index: 10;
}

.yu-book-member-info {
  position: absolute;
  top: 400px;
  right: 50px;
}

.yu-book-general-member {
  background-color: var(--honki-theme);
  width: 110px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  // padding: 3px 5px 3px 5px;
}
.yu-book-general-member.yu-red {
  background: var(--honki-red);
  color: var(--honki-white);
}
.yu-book-general-member-name {
  background-color: rgb(209, 193, 181);
  color: var(--honki-theme);
  border-radius: 4px;
  text-align: center;
  padding: 3px 5px 3px 5px;
}

.yu-book-new-book {
  margin-top: 5rem;
  background-color: #d2bdaa4b;
  height: 360px;
  border-radius: 32px;
  padding: 54px 0;
  position: relative;
  top: 350px;
  right: -50px;
}
.yu-book-new-book-pic {
  width: 110px;
}

.yu-book-ladybug {
  width: 24px;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.yu-book-body-vip {
  transition: 2s cubic-bezier(0.42, 0, 1, 1);
}
