.yu-redpoint {
    width: 64px;
    height: 64px;
    background-color: var(--honki-red);
    margin: 5px;
    float: left;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 15%;
    z-index: -1;
  }
  
  .yu-breadcrumb {
    padding-top: 72px;
    padding-left: 158px;
  }
  /* 標題欄 */
  .yu-member-menu {
    text-align: left;
    margin: 72px auto 38px auto;
  }
  
  .yu-member-photo {
    width: 100px;
    height: 100px;
    margin-left: 700px;
  }
  
  .yu-general-member {
    background-color: var(--honki-theme);
    width: 110px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 30%;
    left: 70%;
  }
  
  .yu-greeting{
    position: absolute;
    top: 35%;
    left: 70%;
  }
  
  /* 會員總表收合選單 */
  .yu-tab {
    width: 16%;
  }
  
  /* 表單背景色 */
  .yu-panels {
    background-color: var(--honki-yellow);
  }
  
  /* 欄位分隔 */
  .yu-col-2 {
    column-count: 2;
  }
  
  /* 我的帳戶 */
  .yu-account-1 {
    border: 2px solid rgb(160, 159, 159);
    padding: 5px;
    border-radius: 4px 4px 0 0;
  }
  
  .yu-account-1-1 {
    background-color: var(--honki-black);
    width: 110px;
    height: 30px;
    border-radius: 4px;
  }
  
  .yu-card {
    color: var(--honki-theme);
  }
  
  .yu-account-1-1-1 {
    color: var(--honki-white);
    padding-left: 5px;
  }
  
  .yu-account-2 {
    border: 2px solid rgb(160, 159, 159);
    border-radius: 0 0 4px 4px;
    border-top: 0;
    line-height: 2.5;
  }
  
  .yu-links {
    color: var(--honki-black);
  }
  