.jill-none-area img{
 height: 480px;
 padding-bottom:50px;
//  padding-bottom:80px;
}

.jill-book-none{
  display: flex;
  align-items: center;
}

// 選擇模式下面的規則簡介
.jill-change-rules{
 margin-left: 210px;
 margin-top: -175px;
 margin-bottom: 100px;
 width: 680px;
}

// 修一下新增二手書單的按鈕位置
.jill-fix-addform-btn{
  margin-left:295.5px;

}

// 把頁數推遠
.jill-other-row {
  margin-bottom: 60px;
}
.jill-random-dancing {
  position: absolute;
  top: 30px;
  top: 50px;
  left: 34px;
  left: 30px;
  z-index: 99;
}

// 首頁會飛的書-動畫-始
.jill-pics img {
  // height: 200px;
  height: 300px;
}
.jill-slider_container {
  margin: 30px auto;
  position: absolute;
  // border: 20px solid;
  // border-color: #fff;
  // border-bottom-width: 100px;
  // background-color: #f5f5f5;
  // box-shadow: #666 0 0 5px;

  // 電視感absolute的位置&電視大小
  // top: 80px;
  // left: 1200px;
  // width: 600px;
  // height: 280px;

  overflow: hidden;
// 迴轉壽司直的一整條長寬&absolute
  width: 600px;
  height: 2700px;
  top:0px;
  left: 1520px;
}

.jill-slider_container div {
  // position: absolute;
  // top: 0;
  // left: 0;
  // opacity: 0;
  // filter: alpha(opacity=0);
  animation-name: jill;
  // animation-duration: 4s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  // animation-fill-mode: backwards;
  // animation-direction: alternate;
}

@keyframes jill {
  0% {
    margin-top: 0px;
    padding-top: 80px;
  }

  50% {
    // margin-top: -1000px;
    // margin-top: 0px;
    // margin-left: -100px;
  }

  100% {
    // margin-top: -200px;

    margin-top: -250px;
    margin-top: -200px;
    // margin-top: 0px;
    // margin-left: -100px;
  }
}

// 首頁會飛的書-動畫-終

// .jill-try-css {
//   animation-duration: 3s;
//   animation-name: slidein;
//   // animation-iteration-count: infinite;
// }

// @keyframes slidein {
//   from {
//     margin-left: 100%;
//     width: 300%;
//   }

//   to {
//     margin-left: 0%;
//     width: 100%;
//   }
// }
/* 暫時推開footer */
.jill-footer-mt {
  margin-top: 500px;
}

/* 二手書交換 首頁(模式選擇) */

// 隨機交換按鈕
.jill-random-btn {
  // position: absolute;
  margin-top: -133px;
  
  margin-left: 1200px;
  margin-left: 920px;
  // margin-top: -0px;
  // transition: 0.5s;
}

.jill-random-btn:hover {
  // position: absolute;
  // margin-left: 980px;
  // margin-left: 1220px;
  margin-left: 940px;
  background-color: red;
}

.jill-index-title {
  text-align: center;
}

.jill-index-bg {
  width: 676px;
  height: 378px;
  background-image: url(http://localhost:3000/images/jill/index-background.jpg);
  opacity: 24%;
  margin-bottom: 192px;
  margin-left: calc(19%);
}

.jill-changemode {
  /* margin-top: -500px;
  margin-left: 330px; */
  margin-top: -45%;
  margin-left: 41%;
}

.jill-modebtn {
  margin-top: -30%;
  margin-left: 39.8%;
  z-index: 99;
  width: 1200px;
}

.jill-modebtn a:hover {
  text-decoration: none;
}

.jill-modebtn button {
  margin: 0px 54px;
  /* margin: 0px 120px; */
}

@media only screen and (max-width: 768px) {
  .jill-index-bg {
    width: 360px;
    height: 378px;
    background-image: url(http://localhost:3000/images/jill/index-background.jpg);
    opacity: 24%;
    margin-bottom: 192px;
    margin-left: 15%;
  }

  .jill-changemode {
    /* margin-top: -500px;
    margin-left: 330px; */
    margin-top: -118%;
    margin-left: 15%;
  }

  .jill-modebtn {
    margin-top: -118%;
    margin-left: 50%;
  }

  .jill-modebtn button {
    margin: 82px 54px;
  }
}

@media only screen and (max-width: 330px) {
  .jill-index-bg {
    width: 240px;
    height: 378px;
    /* background-image: url(../pages/used-books/page-images/index-background.jpg); */
    opacity: 24%;
    margin-bottom: 192px;
    margin-left: 8%;
  }

  .jill-changemode {
    /* margin-top: -500px;
      margin-left: 330px; */
    margin-top: -180%;
    margin-left: 10%;
  }

  .jill-changemode svg {
    width: 50%;
  }

  .jill-randompic {
    margin-top: -80px;
  }

  .jill-modebtn {
    margin-top: -156%;
    margin-left: 40%;
  }

  .jill-modebtn button {
    width: 100px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 38px;
  }
}

/* 二手書交換 一般模式 首頁 */
.jill-mylist-area {
  position: relative;
  /* height: 800px; */
  width: 800px;
}

/* 二手書交換 我的交換單區塊 */
.jill-myNchange-area {
  // width: 20%;
  // width: 46%;
}
.jill-myNchange-title {
  // text-align: center;
  margin-left: 500px;
}
.jill-myNchangelist {
  width: 90%;
  margin-top: 28px;
  margin-left: 500px;
}

.jill-myNchange-add-btn {
  margin-left: 20px;
  margin-bottom: 0px;
}

.jill-fix-btn-add {
  // margin-left: 620px;
  // margin-top: 0px;

  position: absolute;
  top: 67px;
  top: 0px;
  left: 700px;
  background-color: var(--honki-red);
}

.jill-fix-btn-add:hover {
  background-color: var(--honki-red);
}

.jill-myNchange-display {
  width: 398px;
  height: 251px;
  border: 1px solid#D5C7B2;
  margin: 0px;
}

.jill-myNchange-display li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.jill-myNchange-display img {
  width: auto;
  height: 200px;
  margin-top: 26px;
  /* margin-left: 47px; */
  margin-left: 36px;
}

.jill-myNchange-display ul {
  list-style: none;
  /* text-decoration: underline #d5c7b2 2px; */
  margin-top: 30px;
}

.jill-myNchange-display li {
  margin-top: 12px;
}

.jill-underline::after {
  content: '_______________';
  color: #d5c7b2;
  width: 0px;
  height: 0px;
  position: absolute;
  margin-top: 12px;
}

.jill-normal-seemyList {
  background-color: var(--honki-red);
  margin-top: 20px;
  margin-left: 39%;

  // position: absolute;
  // top: 63%;
  // left: 18%;
}

.jill-normal-seemyList:hover {
  background-color: var(--honki-red);
}
/* 蜜蜂svg */
.jill-myNchange-display svg {
  position: absolute;
  left: 880px;
  top: 120px;
}

.jill-mystatus {
  position: absolute;
  top: 0px;
  left: 40%;
}

.jill-Iwant-slider-L {
  position: absolute;
  /* left: 0px; */
  /* left: -25px; */
  left: -35px;
  top: 110px;
}
.jill-Iwant-slider-R {
  position: absolute;
  /* left: 710px; */
  /* left: 730px; */
  left: 740px;
  top: 110px;
}

.jill-Peoplewant-slider-L {
  position: absolute;
  /* left: 0px; */
  /* left: -25px; */
  left: -35px;
  top: 420px;
}
.jill-Peoplewant-slider-R {
  position: absolute;
  /* left: 710px; */
  /* left: 730px; */
  left: 740px;
  top: 420px;
}

.jill-mycard {
  width: 351px;
  height: 257px;
  border: 1px solid#D5C7B2;
  margin-left: 12px;
}

.jill-mycard li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.jill-mycard img {
  height: 160px;
  width: auto;
  margin-top: 24px;
  margin-left: 30px;
}

.jill-mycard ul {
  list-style: none;
  /* text-decoration: underline #d5c7b2 2px; */
  margin-top: 4px;
}

.jill-mycard li {
  margin-top: 12px;
}

.jill-mycard button {
  position: absolute;
}

.jill-card-btn-status {
  top: 234px;
  /* left: 70px; */
  left: 140px;
}

.jill-card-btn-status2 {
  top: 234px;
  left: 500px;
}

.jill-PeoplewantChange-title {
  /* 若想調整margin-top的值，增減多少，jill-card-btn3跟4的按鈕top就一樣要增減相同的數值 */
  margin-top: 16px;
}

.jill-PeoplewantChangeList {
  margin-top: 12px;
}

.jill-card-btn-status3 {
  top: 548px;
  left: 140px;
}

.jill-card-btn-status4 {
  top: 548px;
  left: 500px;
}

@media only screen and (max-width: 1200px) {
  .jill-myNchange-area {
    /* 我的選單再調整 */
    /* width: 50%; */
    width: 80%;
    height: 1200px;
    /* margin-left: 100px; */
  }

  .jill-myNchange-display {
    width: 225px;
    height: 251px;
    border: none;
    background: white;
    /* background-color: rgb(132, 171, 216); */
  }

  .jill-myNchange-display img {
    width: auto;
    height: 200px;
    margin-top: 26px;
    /* margin-left: 47px; */
    margin-left: 90px;
    /* margin-left: 150px; */
  }

  .jill-myNchange-display ul {
    display: none;
  }

  /* 蜜蜂svg */
  .jill-myNchange-display svg {
    position: absolute;
    left: 360px;
    top: 155px;
  }

  .jill-mystatus {
    position: relative;
    height: 1200px;
    margin-top: 50px;
    margin-left: -50px;
  }

  .jill-Iwant-slider-L {
    position: absolute;
    left: -35px;
    top: 110px;
  }
  .jill-Iwant-slider-R {
    position: absolute;
    left: 490px;
    top: 110px;
  }

  .jill-Peoplewant-slider-L {
    position: absolute;
    left: -35px;
    top: 440px;
  }
  .jill-Peoplewant-slider-R {
    position: absolute;
    left: 490px;
    top: 440px;
  }

  .jill-PeoplewantChange-title {
    margin-top: 80px;
  }

  .jill-mycard {
    /* text-align: center; */
    position: relative;
    display: block;
    border: none;
    background: white;
    /* 測試用背景 要調回上面 ，這邊RWD中間斷點暫時這樣，有空再調*/
    /* background-color: rgb(142, 152, 235); */
    border-radius: 15px;
    padding: 20px 20px;
    width: 45%;
    height: 220px;
  }
  .jill-mycard ul {
    display: none;
  }

  .jill-mycard img {
    height: 160px;
    width: auto;
    margin-top: 10px;
    margin-left: 0px;
  }

  .jill-card-btn-status {
    top: 234px;
    left: 35px;
  }

  .jill-card-btn-status2 {
    top: 234px;
    left: 40px;
  }

  .jill-card-btn-status3 {
    top: 235px;
    left: 35px;
  }

  .jill-card-btn-status4 {
    top: 235px;
    left: 40px;
  }
}

@media only screen and (max-width: 678px) {
  .jill-myNchange-area {
    /* 我的選單再調整 */
    width: 60%;
    height: 1200px;
    margin-left: 0px;
  }

  /* 蜜蜂svg */
  .jill-myNchange-display svg {
    position: absolute;
    left: 260px;
    top: 170px;
  }

  .jill-Iwant-slider-L {
    position: absolute;
    left: -35px;
    top: 110px;
  }
  .jill-Iwant-slider-R {
    position: absolute;
    left: 360px;
    top: 110px;
  }

  .jill-Peoplewant-slider-L {
    position: absolute;
    left: -35px;
    top: 440px;
  }
  .jill-Peoplewant-slider-R {
    position: absolute;
    left: 360px;
    top: 440px;
  }

  .jill-mycard {
    /* text-align: center; */
    position: relative;
    display: block;
    border: none;
    background: white;
    /* 測試用背景 要調回上面 */
    /* background-color: rgb(142, 152, 235); */
    border-radius: 15px;
    padding: 20px 20px;
    width: 100%;
    height: 220px;
  }
}

/* 其他人在換什麼 */

.jill-otherbooks-area-title {
  margin-top: 95px;
  // margin-top: 100px;
  // margin-top: 220px;
  text-align: center;
}

.jill-other-card {
  margin-top: 20px;
  position: relative;
}

.jill-want-btn {
  /* margin-top: 200px;
  margin-left: 120px; */
  position: absolute;
  top: 200px;
  left: 120px;
  left: 129px;
}

@media only screen and (max-width: 1200px) {
  .jill-otherbooks-area-title {
    margin-top: 200px;
    text-align: center;
  }

  .jill-other-card {
    width: 170px;
    /* background-color: rgb(212, 150, 150); */
    margin-top: 60px;
  }
  .jill-want-btn {
    margin-top: 210px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 780px) {
  .jill-other-card {
    margin-top: 80px;
  }
}

/* 新增二手書表單 */
.jill-myaddform {
  background-color: #ece2d4;
  padding: 50px;
  border-radius: 20px;
  /* width: 900px; */
  width: 80%;
}

.BC_pic_title {
  margin-right: 100px;
}

.jill-form-btn-group {
  /* 表格按鈕置中 */
  margin-left: 35.5%;
}

.jill-center-btn {
  width: 700px;

  // width: 1500px;
}

.jill-fix-btn {
  /* 修正新增修改頁面按鈕從Form抓出來後的走位 */
  margin-top: 380px;
}

.jill-addform-btn {
  background-color: var(--honki-red);
  margin-right: 12px;
}

.jill-addform-btn:hover {
  background-color: var(--honki-red);
}

/* 選擇檔案按鈕對齊 */
.jill-upload-btn {
  margin-left: -40px;
}

.jill-dancing-img {
  margin-top: -460px;
  margin-left: 560px;
}
/* 跳舞的人插圖大小 */
.jill-dancing-img svg {
  width: 90%;
}

@media only screen and (max-width: 780px) {
  .jill-dancing-img {
    margin-top: 20px;
    margin-left: 0px;
    display: none;
  }

  .jill-myaddform {
    background-color: transparent;
    /* width: 70%; */
  }
}

.jill-insert-footer-mt {
  margin-top: 200px;
}

/* 一般交換 恭喜配對成功頁面跳窗 */
.jill-modal-dialog {
  display: flex;
  justify-content: center;
}

.jill-normal-success-area {
  width: 764px;
  /* height: 495px; */
  height: 545px;
}
.jill-normal-success-title {
  color: var(--honki-red);
  margin-left: -60px;
  margin-top: 18px;
}

.jill-normal-success-msbg {
  width: 763px;
  height: 500px;
  background-color: #ece2d4;
  border: 1px solid #e83015;
}
/* 紅色三角形 */
.jill-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 500px 763px;
  border-color: transparent transparent rgba(232, 48, 21, 0.42) transparent;
  margin-left: -81px;
  margin-top: -63px;
}

.jill-normal-success-message-L {
  position: absolute;
  top: 150px;
  left: 30px;
}

.jill-normal-success-message-L-img img {
  height: 300px;
  margin-top: -630px;
  margin-left: 100px;
}

.jill-normal-success-message-R {
  position: absolute;
  top: 280px;
  left: 530px;
  color: #fff;
}

.jill-normal-success-message-R-img img {
  height: 300px;
  margin-top: -570px;
  margin-left: 200px;
}

.jill-success-exit button {
  /* position: absolute; */
  margin-top: -120px;
  z-index: 90;
}

@media only screen and (max-width: 780px) {
  .jill-normal-success-area {
    width: 280px;
    /* height: 495px; */
    height: 545px;
  }
  .jill-normal-success-title {
    color: var(--honki-red);
    margin-left: -28px;
    margin-top: 10px;
    /* text-align: center; */
  }

  .jill-normal-success-msbg {
    width: 278px;
    height: 490px;
    background-color: #ece2d4;
    border: 1px solid #e83015;
  }
  /* 紅色三角形 */
  .jill-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    /* 下面是先高度再寬度 */
    border-width: 0 0 490px 278px;
    border-color: transparent transparent rgba(232, 48, 21, 0.42) transparent;
    margin-left: -81px;
    margin-top: -56px;
  }

  .jill-normal-success-message-L {
    position: absolute;
    top: 58px;
    left: 30px;
  }

  .jill-normal-success-message-L-img img {
    height: 160px;
    margin-top: -578px;
    margin-left: -50px;
  }

  .jill-normal-success-message-R {
    position: absolute;
    top: 330px;
    left: 120px;
    color: #fff;
  }

  .jill-normal-success-message-R-img img {
    height: 160px;
    margin-top: -558px;
    margin-left: 40px;
  }

  .jill-success-exit button {
    /* position: absolute; */
    margin-top: -75px;
    z-index: 90;
  }
}

/* 隨機交換首頁 */

.jill-random-index-bg-area {
  background-image: url(http://localhost:3000/images/jill/random-index-background.jpg);
  height: 572px;
  width: auto;
  opacity: 25%;
}

.jill-random-index-btn1 {
  z-index: 99;
  background-color: rgba(232, 48, 21, 1);
  position: absolute;
  top: 360px;
  left: 870px;
  /* top: 38%;
  left: 45.7%; */
}
.jill-random-index-btn2 {
  z-index: 99;
  background-color: rgba(232, 48, 21, 1);
  position: absolute;
  top: 410px;
  left: 870px;
  /* top: 43%;
  left: 45.7%; */
  padding: 0px 25px;
}
.jill-random-index-btn1:hover {
  background-color: rgba(232, 48, 21, 1);
}

.jill-random-index-btn2:hover {
  background-color: rgba(232, 48, 21, 1);
}

.jill-myRbook-area {
  /* background-color: #fdf3db; */

  position: relative;
  /* width: 210px; */
  /* margin-top: -160px; */
  margin-top: -170px;

  /* border: 1px solid black; */
}

.jill-myRbook-area img {
  height: 150px;
  width: auto;
  margin: 0px 54px;
}

.jill-edit-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  // padding: 10px;
  padding: 0px 8px;
  background-color: var(--honki-black);
  color: #fff;
  position: absolute;
  top: 33px;
  left: 190px;
}

.jill-delect-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  // padding: 10px 13px;
  padding: 0px 8px;
  background-color: var(--honki-black);
  color: #fff;
  position: absolute;
  top: -10px;
  left: 190px;
}

.jill-myRbook {
  background-color: #fdf3db;
  width: 210px;
  position: relative;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  border: 1px solid black;
}

@media only screen and (max-width: 1540px) {
  .jill-random-index-btn1 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    /* background-color: blue; */
    position: absolute;
    top: 360px;
    left: 700px;
  }
  .jill-random-index-btn2 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    position: absolute;
    top: 410px;
    left: 700px;
    padding: 0px 25px;
  }
}

@media only screen and (max-width: 1240px) {
  .jill-random-index-btn1 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    /* background-color: blue; */
    position: absolute;
    top: 360px;
    left: 600px;
  }
  .jill-random-index-btn2 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    position: absolute;
    top: 410px;
    left: 600px;
    padding: 0px 25px;
  }
}

@media only screen and (max-width: 992px) {
  .jill-random-index-bg-area {
    background-image: url(http://localhost:3000/images/jill/random-index-background.jpg);
    height: 672px;
    width: auto;
    opacity: 25%;
  }

  .jill-random-index-btn1 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    position: absolute;
    top: 360px;
    left: 380px;
  }
  .jill-random-index-btn2 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    position: absolute;
    top: 410px;
    left: 380px;
    padding: 0px 25px;
  }

  .jill-myRbook-area {
    /* background-color: #fdf3db; */

    position: relative;
    /* width: 210px; */
    margin-top: -330px;

    /* border: 1px solid black; */
  }
}

@media only screen and (max-width: 720px) {
  .jill-random-index-bg-area {
    background-image: url(http://localhost:3000/images/jill/random-index-background.jpg);
    height: 800px;
    width: auto;
    opacity: 25%;
  }

  .jill-myRbook-area {
    /* background-color: #fdf3db; */

    position: relative;
    /* width: 210px; */
    margin-top: -500px;

    /* border: 1px solid black; */
  }
}

@media only screen and (max-width: 540px) {
  .jill-random-index-btn1 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    /* background-color: blue; */
    position: absolute;
    top: 360px;
    left: 100px;
  }
  .jill-random-index-btn2 {
    z-index: 99;
    background-color: rgba(232, 48, 21, 1);
    position: absolute;
    top: 410px;
    left: 100px;
    padding: 0px 25px;
  }
}

/* 隨機交換成功頁面 */

.jill-random-success-title-area {
  border: 1px solid var(--honki-red);
  height: 400px;
  width: 1440px;
  margin-top: 150px;
  margin-left: 240px;
}

.jill-gong-xi {
  /* position: absolute;
  top: 400px;
  left: 280px; */
  color: var(--honki-red);
  padding-top: 70px;
  padding-left: 50px;
}

.jill-postcard {
  margin-top: -550px;
  margin-bottom: 250px;
}

.jill-random-success-btn {
  position: absolute;
  top: 480px;
  left: 1500px;
}

.jill-rand-succ-download {
  padding: 0px 11px;
  /* margin-top: 250px; */
}

.jill-rand-succ-status {
  margin-top: 10px;
}

.jill-random-success-btn a {
  color: var(--honki-black);
  display: block;
  margin-top: 15px;
}

.jill-random-success-btn a:hover {
  text-decoration: none;
}

/*隨機抽中的書 */

.jill-random-success-book img {
  height: 272px;
  width: auto;
  margin-left: -870px;
  margin-top: 300px;
}

.jill-random-success-book-name {
  margin-left: -640px;
  margin-top: 400px;
  width: 530px;
  text-overflow: ellipsis;
}

.jill-random-success-words {
  margin-left: -640px;
  margin-top: 30px;
}

.jill-random-success-name {
  // margin-left: -230px;
  // margin-top: 100px;
  margin-left: -303px;
  margin-top: 60px;
  font-weight: bolder !important;
}

@media only screen and (max-width: 1200px) {
  .jill-random-success-title-area {
    border: 1px solid var(--honki-red);
    height: 400px;
    width: 1440px;
    margin-top: 150px;
    // margin-left: 200px;
  }

  .jill-gong-xi {
    position: absolute;
    top: 400px;
    left: 280px;
    color: var(--honki-red);
    // padding-top: 70px;
    // padding-left: 50px;
    z-index: 999;
  }
}

/* 一般交換修改頁面 */

.jill-upload-pics-area {
  width: 1440px;
  margin-left: 1px;
}

.jill-upload-pics {
  margin-top: 30px;
  margin-right: 30px;
  position: relative;
}

.jill-upload-pics img {
  height: 200px;
  width: auto;
}

.jill-normal-delect-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px 8px;
  background-color: var(--honki-black);
  color: #fff;
  position: absolute;
  top: -10px;
  left: calc(100% - 20px);
  z-index: 99;
}
/* 看書的人 */
.jill-edit-svg {
  height: 200px;
}

.jill-edit-svg svg {
  margin-left: 180px;
}

/* 我想跟別人換-查看 */

.jill-check-status p {
  margin-top: 15px;
  display: block;
  width: 170px;
}

.jill-fix-btn2 {
  /* 修正我想跟別人換-查看 頁面按鈕從Form抓出來後的走位 */
  margin-top: 0px;
  margin-left: 349px;
  // margin-left: 20%;
  // margin-left: 45%;
}

/* 修正走位看書的人 */
.jill-edit-svg-fix {
  // height: 200px;
}

.jill-edit-svg-fix svg {
  margin-left: 480px;
  margin-top: -1230px;
}

/* 別人想跟我換-查看 */

.jill-form-3btn-group {
  /* 表格按鈕置中 */
  margin-left: 76%;
}

.jill-fix-btn3 {
  /* 修正我想跟別人換-查看 頁面按鈕從Form抓出來後的走位 */
  margin-top: 0px;
  margin-left: 25%;
}

// 隨機交換成功-查看頁面
.jill-randsuccstatus-btn {
  margin-left: 12%;
}
