/* all sign up page start */
/* sign up header start */
.yen-signup-header {
  width: 100%;
  height: 345vh;
  padding: 0 72px;
}

.yen-signup-body {
  width: 100%;
  height: 100vh;
  margin-top: 2%;
}

.yen-signup-tag {
  width: 84%;
  height: 6%;
  display: flex;
}

.yen-signup-tag-box {
  width: 14%;
  padding: 1% 2.5% 2% 2.5%;
  border: 1px solid #000;
  text-align: center;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}

.yen-signup-act {
  width: 14%;
  padding: 1% 2.5% 2% 2.5%;
  border: 1px solid #000;
  text-align: center;
  border-radius: 12px 12px 0 0;
  background-color: #fdf3db;
  cursor: pointer;
}

.yen-signup-showbox {
  width: 90vw;
  height: 240vh;
  // background: #ebe7e0;
  // border-radius: 5px;
}

.yen-signup-showbox-bg {
  margin: 2%;
  width: 88%;
  height: 92%;
  background: #ebe7e0;
  border-radius: 5px;
  overflow: hidden;
}

.yen-calendar {
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
}

.yen-signup-moon-box {
  width: 100%;
  height: 32%;
  padding-top: 4%;
  /* background: #afa; */
  animation: fadein 2s ease-in;
}

.yen-signup-moon {
  width: 18%;
  height: 100%;
  margin: 5% 45%;
  border-radius: 50%;
  background: #fdf3db;
  position: relative;
}

.yen-signup-moon-month {
  position: absolute;
  left: -45%;
  top: -10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #000000;
  background-image: url('http://localhost:3000/images/yen/12644762_1801767416717416_6840062887620370075_n.jpg');
  background-position: 80% 75%;
  background-repeat: no-repeat;
}

.yen-signup-moon-text {
  position: absolute;
  left: 64%;
  top: 25%;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 500;
}

.yen-yellow-bug {
  position: absolute;
  bottom: -20%;
  right: -20%;
  width: 15%;
  height: 15%;
  transform: rotateZ(270deg);
}

.yen-signup-calendar-box {
  width: 100%;
  height: 50%;
  // background-color: #ffc;
  margin-top: 12%;
  position: relative;
  animation: fadein 2s ease-in;
}

.yen-signup-calendar-day-box {
  width: 84%;
  height: 100%;
  margin-left: 8%;
  /* background: #daa; */
  margin-top: 2%;
  padding-top: 11%;
  position: relative;
  z-index: 40;
  display: flex;
  flex-wrap: wrap;
}

.yen-signup-calendar-day {
  width: 90%;
  height: 28%;
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.yen-signup-calendar-date {
  width: 9.5%;
  height: 80%;
  border: 1px solid #000;
  margin: 0.5% 0.5% 0.5% 1.05%;
  cursor: pointer;
  padding: 0.5% 0 0 6.7%;
}

.yen-today {
  background: #fdf3db;
}

.yen-order-day {
  background: #e831158a;
}

// .yen-signup-date-bg1 {
//   background: #fdf3db;
// }

// .yen-signup-date-bg2 {
//   background: #e831158a;
// }

.yen-signup-calendar-text {
  padding-left: 72%;
  line-height: 35px;
}

.yen-signup-calendar-slide::after {
  content: '';
  width: 8.8%;
  height: 75%;
  position: absolute;
  left: 0.6%;
  top: -37%;
  box-sizing: border-box;
  border-bottom: 1px solid #1c1b1b;
  transform-origin: bottom center;
  transform: rotateZ(45deg) scale(1.414);
}

.yen-signup-date {
  padding-top: 30%;
  padding-left: 28%;
  line-height: 24px;
}

.yen-signup-calendar-dete-l {
  position: absolute;
  left: 1.3%;
  bottom: 30%;
}

.yen-signup-arrow-box {
  width: 98%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 44%;
  left: 1%;
  z-index: 0;
}

.yen-signup-arrow-right {
  width: 4%;
  height: 4%;
  cursor: pointer;
}

.yen-signup-arrow-left {
  width: 4%;
  height: 4%;
  transform: scaleX(-1);
  cursor: pointer;
}

.yen-signup-list {
  width: 100%;
  height: 47.5%;
  overflow: scroll;
  /* background: #afdafa; */
}

.yen-no-order-box {
  margin: 1% 10% 1% 10%;
  width: 80%;
  height: 90%;
  // padding-top: 5%;
  background: #fdf3db;
  // border: 1px solid #707070;
  border-radius: 5px;
  // display: flex;
  animation: fadeOut 2s forwards;
}

.yen-no-order-text {
  color: #1c1b1b;
  text-align: center;
  margin: 0 38%;
  height: 20%;
  padding-top: 10%;
}

.yen-no-order-QQ {
  width: 50%;
  height: 60%;
  margin-top: 6%;
  margin-left: 30%;
}

.yen-no-order-QQ img {
  width: 80%;
  height: 90%;
}

.yen-signup-select-box {
  margin: 1% 10% 1% 10%;
  width: 80%;
  height: 46%;
  padding-top: 5%;
  background: #fdf3db;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  animation: fadeOut 2s forwards;
}

.yen-signup-act-img {
  margin-left: 5%;
  width: 45%;
  height: 80%;
  /* background: rgb(148, 177, 255); */
}

.yen-signup-act-img > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.yen-signup-act-des {
  width: 40%;
  height: 80%;
  /* background: #fba; */
  margin: 0 5% 0 4%;
}

.yen-signup-num {
  padding: 8% 0 2% 0;
  // padding: 2% 0;
}

.yen-signup-sub {
  height: 20%;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yen-signup-location {
  padding: 2% 0 2% 16.5%;
  text-indent: -5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yen-signup-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
  /* padding: 0 5%; */
}

.yen-signup-check {
  margin-left: 5%;
  background: #e83015;
  color: #fff;
  border: none;
}

.yen-signup-check:hover {
  background: #ff7864;
}

.yen-signup-cancel {
  margin-right: 10%;
}

.yen-signup-select-li {
  margin: 0 10%;
  width: 80%;
  height: 25%;
  border: 1px solid #707070;
  background: #ebe7e0;
  animation: fadein 2s ease-in;
}

.yen-signup-select-li-box {
  margin: 0% 10%;
}

.yen-signup-time-pt {
  padding-top: 2%;
}

.yen-delete {
  border: 0;
  background: #f7bab1ab;
  width: 30%;
  height: 40px;
}

.yen-delete:hover {
  background-color: #ff6750;
}

.yen-cancel {
  border: 0;
  background-color: #363636;
  width: 30%;
  height: 40px;
  color: #fff;
}

.yen-alert-body {
  line-height: 2em;
  font-size: 16px;
  text-align: center;
  margin: 4% 0;
}

/* animation start */
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  90% {
    opacity: 0.6;
    transform: translateY(0px);
  }
  99% {
    opacity: 0.8;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}
/* animation end */
