.yen-check-list {
  width: 100%;
  height: 50%;
}

.yen-signup-check-box {
  margin: 2% 10% 0 10%;
  width: 80%;
  height: 100%;
  padding-top: 3%;
  background: #fdf3db;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  animation: fadeOut 2s forwards;
}

.yen-signup-check-bg {
  margin: 0 0 0 5%;
  width: 90%;
  height: 96%;
  background: #fff;
}

.yen-signup-check-num {
  width: 100%;
  height: 10%;
  padding-top: 4%;
  position: relative;
}

.yen-signup-check-num > h5 {
  text-align: center;
  line-height: 33px;
}

.yen-signup-check-pencil {
  position: absolute;
  top: -50%;
  left: 13%;
  width: 60%;
  height: 56%;
}

.yen-signup-check-form {
  width: 60%;
  height: 75%;
  margin: 8% 0 0 17%;
  position: relative;
}

.yen-check-form-list {
  width: 100%;
  height: 7%;
  margin: 2.5% 5% 0 5%;
  border-bottom: 1px solid #707070;
  display: flex;
  overflow: scroll;
}

.yen-check-form-title {
  width: 20%;
  height: 100%;
  position: relative;
  z-index: 20;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yen-check-form-title > span {
  line-height: 24px;
  font-size: 1.2rem;
}

.yen-check-form-arrow {
  position: absolute;
  top: -5%;
  left: 80%;
  width: 30%;
  z-index: -2;
}

.yen-check-form-title-des {
  padding-top: -5%;
  padding-left: 5%;
  width: 80%;
  height: 100%;
}

.yen-check-form-title-des > span {
  line-height: 24px;
  font-size: 1.2rem;
}

.yen-check-form-list-box {
  width: 100%;
  height: 7%;
  margin: 2.5% 5% 0 5%;
  border-bottom: 1px solid #707070;
  display: flex;
}

.yen-check-form-li-title {
  width: 20%;
  height: 100%;
  position: relative;
  z-index: 20;
}

.yen-check-form-li-arrow {
  position: absolute;
  top: -5%;
  left: 80%;
  width: 30%;
  z-index: -2;
}

.yen-back-btn {
  position: absolute;
  bottom: 2%;
  left: -23%;
}

.yen-check-cancel-btn {
  position: absolute;
  bottom: 2%;
  right: -33%;
}

.yen-check-cancel-btn-bg {
  background: #e83015;
  color: #fff;
  border: none;
}

.yen-check-cancel-btn-bg:hover {
  background: #ff7e6b;
}
